force-app/main/default/flows/Account_After_Update_Sync_Constituency.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Flow_Automations_Off</name>
        <label>Flow Automations Off</label>
        <locationX>237</locationX>
        <locationY>359</locationY>
        <defaultConnector>
            <targetReference>RecordType_Switcher</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Has_Flows_Off_Permission_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Flow_Automations_Off</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>User Has Flows Off Permission Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordType_Switcher</name>
        <label>RecordType Switcher</label>
        <locationX>239</locationX>
        <locationY>550</locationY>
        <defaultConnectorLabel>break</defaultConnectorLabel>
        <rules>
            <name>Is_Household</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HH_Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Non_Primary_Contacts</targetReference>
            </connector>
            <label>Is Household</label>
        </rules>
    </decisions>
    <description>Syncs Sub-Constituency, Constituency, Capacity, RM, PM. On HH_Account and related HH contacts. When Primary Contact changes.</description>
    <interviewLabel>Account (After Update) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account (After Update) --&gt; Sync Constituency</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Non_Primary_Contacts</name>
        <label>Update Non Primary Contacts</label>
        <locationX>473</locationX>
        <locationY>548</locationY>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 7)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>npsp__Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Constituency__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.npe01__One2OneContact__r.Constituency__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sub_Constituency__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.npe01__One2OneContact__r.Sub_Constituency__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Capacity__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.npe01__One2OneContact__r.Capacity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_Handler__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.npe01__One2OneContact__r.Primary_Handler__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Portfolio_Manager__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.npe01__One2OneContact__r.Portfolio_Manager__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Capacity__c</field>
            <value>
                <elementReference>$Record.npe01__One2OneContact__r.Capacity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Constituency__c</field>
            <value>
                <elementReference>$Record.npe01__One2OneContact__r.Constituency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Portfolio_Manager__c</field>
            <value>
                <elementReference>$Record.npe01__One2OneContact__r.Portfolio_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Handler__c</field>
            <value>
                <elementReference>$Record.npe01__One2OneContact__r.Primary_Handler__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Constituency__c</field>
            <value>
                <elementReference>$Record.npe01__One2OneContact__r.Sub_Constituency__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>115</locationX>
        <locationY>44</locationY>
        <connector>
            <targetReference>Flow_Automations_Off</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe01__One2OneContact__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>npe01__One2OneContact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
