force-app/main/default/flows/Affliliation_After_insert_update_remove_employer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_contact_values</name>
        <label>Set contact values</label>
        <locationX>1370</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Get_the_Contact_record.Employer_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.npe5__Organization__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_the_Contact_record.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.npe5__Role__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_contact_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_contact_values_0</name>
        <label>Set contact values</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Get_the_Contact_record.Employer_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_the_Contact_record.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_contact_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_contact_values_0_0</name>
        <label>Set contact values</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Get_the_Contact_record.Employer_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Most_Recent_Affiliation.npe5__Organization__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_the_Contact_record.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Most_Recent_Affiliation.npe5__Role__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_contact_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_contact_values_0_0_0</name>
        <label>Set contact values</label>
        <locationX>1106</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Get_the_Contact_record.Employer_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Most_Recent_Affiliation.npe5__Organization__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_the_Contact_record.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Most_Recent_Affiliation.npe5__Role__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_contact_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_contact_values_0_0_0_0</name>
        <label>Set contact values</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Get_the_Contact_record.Employer_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Primary_Affiliation.npe5__Organization__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_the_Contact_record.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Primary_Affiliation.npe5__Role__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_contact_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_contact_values_0_0_0_0_0</name>
        <label>Set contact values</label>
        <locationX>842</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Get_the_Contact_record.Employer_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Primary_Affiliation.npe5__Organization__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_the_Contact_record.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Primary_Affiliation.npe5__Role__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_contact_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Affiliation_Decision</name>
        <label>Affiliation Decision</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Set_contact_values_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Affiliations Found</defaultConnectorLabel>
        <rules>
            <name>Primary_Affiliation_Found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Primary_Affiliation.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_contact_values_0_0_0_0</targetReference>
            </connector>
            <label>Primary Affiliation Found</label>
        </rules>
        <rules>
            <name>Affiliation_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Most_Recent_Affiliation.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_contact_values_0_0</targetReference>
            </connector>
            <label>Current, Non-Primary Affiliation Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Affiliation_Decision_0</name>
        <label>Affiliation Decision</label>
        <locationX>1106</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Set_contact_values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Affiliations Found</defaultConnectorLabel>
        <rules>
            <name>Primary_Affiliation_Found_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Primary_Affiliation.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_contact_values_0_0_0_0_0</targetReference>
            </connector>
            <label>Primary Affiliation Found</label>
        </rules>
        <rules>
            <name>Other_Affiliation_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Most_Recent_Affiliation.CreatedDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_contact_values_0_0_0</targetReference>
            </connector>
            <label>More Recent Affiliation Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Decision</name>
        <label>Status Decision</label>
        <locationX>710</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Affiliation_Decision_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Current or Blank</defaultConnectorLabel>
        <rules>
            <name>Former</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe5__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Former</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Affiliation_Decision</targetReference>
            </connector>
            <label>Former</label>
        </rules>
    </decisions>
    <description>FB-1453
v5 Optimize flow per FB-1490
v6 Set Run Order</description>
    <environments>Default</environments>
    <interviewLabel>Affliliation (After insert update) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Affiliation (After insert update) remove employer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Most_Recent_Affiliation</name>
        <label>Get Most Recent Affiliation</label>
        <locationX>710</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe5__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_Contact_record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe5__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </filters>
        <filters>
            <field>Affiliation_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employer/Employee</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe5__Primary__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe5__Affiliation__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Affiliation</name>
        <label>Get Primary Affiliation</label>
        <locationX>710</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Most_Recent_Affiliation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe5__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_Contact_record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe5__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </filters>
        <filters>
            <field>Affiliation_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employer/Employee</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe5__Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe5__Affiliation__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Contact_record</name>
        <label>Get the Contact record</label>
        <locationX>710</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Primary_Affiliation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npe5__Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_contact_0</name>
        <label>Update contact</label>
        <locationX>710</locationX>
        <locationY>1247</locationY>
        <inputReference>Get_the_Contact_record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_the_Contact_record</targetReference>
        </connector>
        <filterFormula>{!$Permission.Flow_Automations_Off} &lt;&gt; TRUE
&amp;&amp;
ispickval({!$Record.Affiliation_Type__c}, &quot;Employer/Employee&quot;)</filterFormula>
        <object>npe5__Affiliation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>2</triggerOrder>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
