force-app/main/default/flows/Contact_Before_Save_Create_Only_Sync_Constituency.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_With_Account</name>
        <label>Set With Account</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Constituency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Organization_Constituency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sub_Constituency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Organization_sub_constituency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Capacity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Capacity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Primary_Handler__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Account_Primary_Handler__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Portfolio_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Portfolio_Manager__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Account_Type_and_Primary_Contact</name>
        <label>Check Account Type and Primary Contact</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Household_Primary_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HH_Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.npe01__One2OneContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Non_Primary_Contact_Capacity</targetReference>
            </connector>
            <label>Is Household, Primary Contact</label>
        </rules>
        <rules>
            <name>Is_Household_No_Primary_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HH_Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.npe01__One2OneContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_With_Account</targetReference>
            </connector>
            <label>Is Household, No Primary Contact</label>
        </rules>
    </decisions>
    <description>FB-1566
Optimized per FB-1490 &amp; Set run order</description>
    <environments>Default</environments>
    <interviewLabel>Contact (Before Save/Create Only) --&gt; Sync Constituency {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact (Before Save/Create Only) --&gt; Sync Constituency</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Non_Primary_Contact_Capacity</name>
        <label>Update Non-Primary Contact Capacity</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Non_Primary_Contact_Constituency</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Capacity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Capacity__c</field>
            <value>
                <elementReference>$Record.Account.npe01__One2OneContact__r.Capacity__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Non_Primary_Contact_Constituency</name>
        <label>Update Non-Primary Contact Constituency</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Update_Non_Primary_Contact_Sub_Constituency</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Constituency__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Constituency__c</field>
            <value>
                <elementReference>$Record.Account.npe01__One2OneContact__r.Constituency__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Non_Primary_Contact_Relationship_Manager</name>
        <label>Update Non-Primary Contact Relationship Manager</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Primary_Handler__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Handler__c</field>
            <value>
                <elementReference>$Record.Account.npe01__One2OneContact__r.Primary_Handler__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Non_Primary_Contact_Sub_Constituency</name>
        <label>Update Non-Primary Contact Sub-Constituency</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <connector>
            <targetReference>Update_Non_Primary_Contact_Relationship_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sub_Constituency__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Sub_Constituency__c</field>
            <value>
                <elementReference>$Record.Account.npe01__One2OneContact__r.Sub_Constituency__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Account_Type_and_Primary_Contact</targetReference>
        </connector>
        <filterFormula>{!$Permission.Flow_Automations_Off} &lt;&gt; TRUE
&amp;&amp;
{!$Record.X18_Digit_Contact_ID__c} &lt;&gt; {!$Record.Account.npe01__One2OneContact__r.X18_Digit_Contact_ID__c}</filterFormula>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1</triggerOrder>
</Flow>
