force-app/main/default/flows/Contact_Before_Insert_Update_Sync_Constituency.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_With_Account</name>
        <label>Set With Account</label>
        <locationX>407</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Constituency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Organization_Constituency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sub_Constituency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Organization_sub_constituency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Capacity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Capacity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Primary_Handler__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Account_Primary_Handler__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Portfolio_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Portfolio_Manager__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Account_Primary_Contact</name>
        <label>Check Account Primary Contact</label>
        <locationX>275</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Set_With_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sync With Account</defaultConnectorLabel>
        <rules>
            <name>Sync_With_Primary_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.npe01__One2OneContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Non_Primary_Contact_Capacity</targetReference>
            </connector>
            <label>Sync With Primary Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Account_Type</name>
        <label>Check Account Type</label>
        <locationX>473</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>break</defaultConnectorLabel>
        <rules>
            <name>Is_Household</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HH_Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Account_Primary_Contact</targetReference>
            </connector>
            <label>Is Household</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flow_Automations_Off</name>
        <label>Flow Automations Off</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Check_Account_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Has_Flows_Off_Permission_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Flow_Automations_Off</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>User Has Flows Off Permission Set</label>
        </rules>
    </decisions>
    <description>Syncs Sub-Constituency, Constituency, Capacity, RM, PM with Primary Contact. ONLY runs when Contact is not the Primary Contact.
Updated per FB-1566</description>
    <environments>Default</environments>
    <interviewLabel>Contact (Before Insert/Update) --&gt; Sync Con {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact (Before Insert/Update) --&gt; Sync Constituency</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Non_Primary_Contact_Capacity</name>
        <label>Update Non-Primary Contact Capacity</label>
        <locationX>143</locationX>
        <locationY>671</locationY>
        <connector>
            <targetReference>Update_Non_Primary_Contact_Constituency</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Capacity__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Account.npe01__One2OneContact__r.Capacity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Capacity__c</field>
            <value>
                <elementReference>$Record.Account.npe01__One2OneContact__r.Capacity__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Non_Primary_Contact_Constituency</name>
        <label>Update Non-Primary Contact Constituency</label>
        <locationX>143</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Update_Non_Primary_Contact_Sub_Constituency</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Constituency__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Account.npe01__One2OneContact__r.Constituency__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Constituency__c</field>
            <value>
                <elementReference>$Record.Account.npe01__One2OneContact__r.Constituency__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Non_Primary_Contact_Relationship_Manager</name>
        <label>Update Non-Primary Contact Relationship Manager</label>
        <locationX>143</locationX>
        <locationY>1031</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Primary_Handler__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Account.npe01__One2OneContact__r.Primary_Handler__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Handler__c</field>
            <value>
                <elementReference>$Record.Account.npe01__One2OneContact__r.Primary_Handler__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Non_Primary_Contact_Sub_Constituency</name>
        <label>Update Non-Primary Contact Sub-Constituency</label>
        <locationX>143</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Update_Non_Primary_Contact_Relationship_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sub_Constituency__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Account.npe01__One2OneContact__r.Sub_Constituency__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sub_Constituency__c</field>
            <value>
                <elementReference>$Record.Account.npe01__One2OneContact__r.Sub_Constituency__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Flow_Automations_Off</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Capacity__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Constituency__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Primary_Handler__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sub_Constituency__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
