force-app/main/default/flows/Contact_After_Update_Handle_Portfolio_Manager_Processes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Has_Manager_Update_Opportunities</name>
        <label>Has Manager --&gt; Update Opportunities?</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Relationship_Manager_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>continue</defaultConnectorLabel>
        <rules>
            <name>Call_Update_Opportunities</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Portfolio_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunities</targetReference>
            </connector>
            <label>Call Update Opportunities</label>
        </rules>
    </decisions>
    <decisions>
        <name>PG_Portfolio_Manager_Changed</name>
        <label>PG Portfolio Manager Changed</label>
        <locationX>336</locationX>
        <locationY>2015</locationY>
        <defaultConnectorLabel>continue</defaultConnectorLabel>
        <rules>
            <name>Change_PG_Portfolio_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.PG_Portfolio_Manager__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.PG_Portfolio_Manager__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_PG_Portfolio_Manager</targetReference>
            </connector>
            <label>Change PG Portfolio Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Portfolio_Manager_Changed</name>
        <label>Portfolio Manager Changed</label>
        <locationX>336</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Relationship_Manager_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>continue</defaultConnectorLabel>
        <rules>
            <name>Change_Portfolio_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Portfolio_Manager__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Portfolio_Manager__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Portfolio_Manager</targetReference>
            </connector>
            <label>Change Portfolio Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Relationship_Manager_2_Changed</name>
        <label>Relationship Manager (2) Changed</label>
        <locationX>336</locationX>
        <locationY>1343</locationY>
        <defaultConnector>
            <targetReference>Relationship_Manager_3_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>continue</defaultConnectorLabel>
        <rules>
            <name>Change_Relationship_Manager_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Additional_Handler1__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Additional_Handler1__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Relationship_Manager_2</targetReference>
            </connector>
            <label>Change Relationship Manager (2)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Relationship_Manager_3_Changed</name>
        <label>Relationship Manager (3) Changed</label>
        <locationX>336</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>PG_Portfolio_Manager_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>continue</defaultConnectorLabel>
        <rules>
            <name>Change_Relationship_Manager_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Additional_Handler_2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Additional_Handler_2__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Relationship_Manager_3</targetReference>
            </connector>
            <label>Change Relationship Manager (3)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Relationship_Manager_Changed</name>
        <label>Relationship Manager Changed</label>
        <locationX>336</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>Relationship_Manager_2_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>continue</defaultConnectorLabel>
        <rules>
            <name>Change_Relationship_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Primary_Handler__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Primary_Handler__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Relationship_Manager</targetReference>
            </connector>
            <label>Change Relationship Manager</label>
        </rules>
    </decisions>
    <description>v3 Optimize flow per FB-1490
v4 Set run order</description>
    <environments>Default</environments>
    <interviewLabel>Contact: (After Update --&gt; Handle Portfolio Manager Processes) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact: (After Insert/Update --&gt; Handle Portfolio Manager Processes)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Opportunities</name>
        <label>Update Opportunities</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Relationship_Manager_Changed</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Portfolio_Manager__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Portfolio_Manager__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PG_Portfolio_Manager__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.PG_Portfolio_Manager__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PG_Portfolio_Manager__c</field>
            <value>
                <elementReference>$Record.PG_Portfolio_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Portfolio_Manager__c</field>
            <value>
                <elementReference>$Record.Portfolio_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Portfolio_Manager_Changed</targetReference>
        </connector>
        <filterFormula>{!$Permission.Flow_Automations_Off} &lt;&gt; TRUE</filterFormula>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Process_PG_Portfolio_Manager</name>
        <label>Process (PG Portfolio Manager)</label>
        <locationX>204</locationX>
        <locationY>2135</locationY>
        <flowName>Former_Manager_Handle_Manager_Change</flowName>
        <inputAssignments>
            <name>Contact</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>currentId</name>
            <value>
                <elementReference>$Record.PG_Portfolio_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>formerId</name>
            <value>
                <elementReference>$Record__Prior.PG_Portfolio_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>type</name>
            <value>
                <stringValue>PG Portfolio Manager</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Process_Portfolio_Manager</name>
        <label>Process (Portfolio Manager)</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Has_Manager_Update_Opportunities</targetReference>
        </connector>
        <flowName>Former_Manager_Handle_Manager_Change</flowName>
        <inputAssignments>
            <name>Contact</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>currentId</name>
            <value>
                <elementReference>$Record.Portfolio_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>formerId</name>
            <value>
                <elementReference>$Record__Prior.Portfolio_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>type</name>
            <value>
                <stringValue>Portfolio Manager</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Process_Relationship_Manager</name>
        <label>Process (Relationship Manager)</label>
        <locationX>204</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>Relationship_Manager_2_Changed</targetReference>
        </connector>
        <flowName>Former_Manager_Handle_Manager_Change</flowName>
        <inputAssignments>
            <name>Contact</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>currentId</name>
            <value>
                <elementReference>$Record.Primary_Handler__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>formerId</name>
            <value>
                <elementReference>$Record__Prior.Primary_Handler__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>type</name>
            <value>
                <stringValue>Relationship Manager</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Process_Relationship_Manager_2</name>
        <label>Process (Relationship Manager (2))</label>
        <locationX>204</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Relationship_Manager_3_Changed</targetReference>
        </connector>
        <flowName>Former_Manager_Handle_Manager_Change</flowName>
        <inputAssignments>
            <name>Contact</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>currentId</name>
            <value>
                <elementReference>$Record.Additional_Handler1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>formerId</name>
            <value>
                <elementReference>$Record__Prior.Additional_Handler1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>type</name>
            <value>
                <stringValue>Relationship Manager 2</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Process_Relationship_Manager_3</name>
        <label>Process (Relationship Manager (3))</label>
        <locationX>204</locationX>
        <locationY>1799</locationY>
        <connector>
            <targetReference>PG_Portfolio_Manager_Changed</targetReference>
        </connector>
        <flowName>Former_Manager_Handle_Manager_Change</flowName>
        <inputAssignments>
            <name>Contact</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>currentId</name>
            <value>
                <elementReference>$Record.Additional_Handler_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>formerId</name>
            <value>
                <elementReference>$Record__Prior.Additional_Handler_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>type</name>
            <value>
                <stringValue>Relationship Manager 3</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <triggerOrder>6</triggerOrder>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
