force-app/main/default/flows/Create_Phone_Records_for_New_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <description>Determines of Home phone is present</description>
        <name>Home_Phone</name>
        <label>Home Phone?</label>
        <locationX>380</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Work_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Home</defaultConnectorLabel>
        <rules>
            <name>Yes_Home1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HomePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Home_Rec</targetReference>
            </connector>
            <label>Yes Home</label>
        </rules>
    </decisions>
    <decisions>
        <name>Home_Preferred</name>
        <label>Home Preferred?</label>
        <locationX>226</locationX>
        <locationY>1151</locationY>
        <defaultConnector>
            <targetReference>Work_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Home2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe01__PreferredPhone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Home_Primary</targetReference>
            </connector>
            <label>Yes Home</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines of mobile phone is present</description>
        <name>Mobile_Phone</name>
        <label>Mobile Phone?</label>
        <locationX>380</locationX>
        <locationY>2255</locationY>
        <defaultConnector>
            <targetReference>Other_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Mobile</defaultConnectorLabel>
        <rules>
            <name>Yes_Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Mobile_Rec</targetReference>
            </connector>
            <label>Yes Mobile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mobile_Preferred</name>
        <label>Mobile Preferred?</label>
        <locationX>226</locationX>
        <locationY>2495</locationY>
        <defaultConnector>
            <targetReference>Other_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Mobile1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe01__PreferredPhone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Mobile_Primary</targetReference>
            </connector>
            <label>Yes Mobile</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if other phone is present</description>
        <name>Other_Phone</name>
        <label>Other Phone?</label>
        <locationX>380</locationX>
        <locationY>2927</locationY>
        <defaultConnectorLabel>No Other</defaultConnectorLabel>
        <rules>
            <name>Yes_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OtherPhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Other_Rec</targetReference>
            </connector>
            <label>Yes Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Preferred</name>
        <label>Other Preferred?</label>
        <locationX>182</locationX>
        <locationY>3167</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Other2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe01__PreferredPhone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Other_Primary</targetReference>
            </connector>
            <label>Yes Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_Type</name>
        <label>Phone Type</label>
        <locationX>1238</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>New_Home_Rec1_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Mobile</defaultConnectorLabel>
        <rules>
            <name>Home</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe01__PreferredPhone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Home_Rec1</targetReference>
            </connector>
            <label>Home</label>
        </rules>
        <rules>
            <name>Work</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe01__PreferredPhone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Work_Rec1</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe01__PreferredPhone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Home_Rec1_0_0</targetReference>
            </connector>
            <label>Other</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if selected Preferred Phone points to a blank email field.</description>
        <name>Preferred_Phone_Is_Blank</name>
        <label>Preferred Phone Is Blank?</label>
        <locationX>380</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Home_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Blank</defaultConnectorLabel>
        <rules>
            <name>Blank</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6) OR (7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe01__PreferredPhone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__PreferredPhone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HomePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__PreferredPhone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__WorkPhone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__PreferredPhone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OtherPhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Correct_Preferred_Phone_0</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if Standard Phone fields is populated because this indicates it is a converted lead.</description>
        <name>Standard_Phone_Field_Populated</name>
        <label>Standard Phone Field Populated?</label>
        <locationX>809</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Phone_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Bypass_Date_Time</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines of work phone is present.</description>
        <name>Work_Phone</name>
        <label>Work Phone?</label>
        <locationX>380</locationX>
        <locationY>1583</locationY>
        <defaultConnector>
            <targetReference>Mobile_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Work</defaultConnectorLabel>
        <rules>
            <name>Yes_Work</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe01__WorkPhone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Work_Rec</targetReference>
            </connector>
            <label>Yes Work</label>
        </rules>
    </decisions>
    <decisions>
        <name>Work_Preferred</name>
        <label>Work Preferred?</label>
        <locationX>226</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>Mobile_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Work1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe01__PreferredPhone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Work_Primary</targetReference>
            </connector>
            <label>Yes Work</label>
        </rules>
    </decisions>
    <description>Creates Contact Phone records when Contact created.
v3 Optimize flow per FB-1490
v4 Set run order</description>
    <environments>Default</environments>
    <formulas>
        <description>Corrects Preferred Phone value if blank.</description>
        <name>CorrectPreferredPhone</name>
        <dataType>String</dataType>
        <expression>IF(AND(ISPICKVAL({!$Record.npe01__PreferredPhone__c}, &apos;Mobile&apos;), ISBLANK({!$Record.MobilePhone})), &apos;Home&apos;,
	IF(AND(ISPICKVAL({!$Record.npe01__PreferredPhone__c}, &apos;Home&apos;), ISBLANK({!$Record.HomePhone})), &apos;Work&apos;,
IF(AND(ISPICKVAL({!$Record.npe01__PreferredPhone__c}, &apos;Work&apos;), ISBLANK({!$Record.npe01__WorkPhone__c})), &apos;Other&apos;, 
IF(AND(ISPICKVAL({!$Record.npe01__PreferredPhone__c}, &apos;Other&apos;), ISBLANK({!$Record.OtherPhone})), &apos;Mobile&apos;, 
TEXT({!$Record.npe01__PreferredPhone__c})))))</expression>
    </formulas>
    <formulas>
        <description>Returns today&apos;s date.</description>
        <name>DateToday</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <description>Corrects Preferred Phone if type selected is blank.</description>
        <name>NewPreferredPhone</name>
        <dataType>String</dataType>
        <expression>IF (NOT(ISBLANK({!$Record.MobilePhone})), &apos;Mobile&apos;, 
IF(NOT(ISBLANK({!$Record.HomePhone})), &apos;Home&apos;, 
IF(NOT(ISBLANK({!$Record.npe01__WorkPhone__c})), &apos;Work&apos;, 
IF(NOT(ISBLANK({!$Record.OtherPhone})), &apos;Other&apos;, 
&apos;Mobile&apos;))))</expression>
    </formulas>
    <formulas>
        <name>NowFormula</name>
        <dataType>DateTime</dataType>
        <expression>Now()</expression>
    </formulas>
    <interviewLabel>Create Phone Records for New Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Phone Records for New Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates new phone record.</description>
        <name>New_Home_Rec</name>
        <label>New Home Rec</label>
        <locationX>226</locationX>
        <locationY>1031</locationY>
        <assignRecordIdToReference>NewPhoneID</assignRecordIdToReference>
        <connector>
            <targetReference>Home_Preferred</targetReference>
        </connector>
        <inputAssignments>
            <field>Donor__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.HomePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>DateToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Home</stringValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
    </recordCreates>
    <recordCreates>
        <description>Creates new phone record.</description>
        <name>New_Home_Rec1</name>
        <label>New Home Rec</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Donor__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>DateToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Home</stringValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates new phone record.</description>
        <name>New_Home_Rec1_0_0</name>
        <label>New Home Rec</label>
        <locationX>1370</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Donor__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>DateToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Unknown</stringValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates new phone record.</description>
        <name>New_Home_Rec1_0_0_0</name>
        <label>New Home Rec</label>
        <locationX>1634</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Donor__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>DateToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Mobile</stringValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates new phone record.</description>
        <name>New_Mobile_Rec</name>
        <label>New Mobile Rec</label>
        <locationX>226</locationX>
        <locationY>2375</locationY>
        <assignRecordIdToReference>NewPhoneID</assignRecordIdToReference>
        <connector>
            <targetReference>Mobile_Preferred</targetReference>
        </connector>
        <inputAssignments>
            <field>Donor__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>DateToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Mobile</stringValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
    </recordCreates>
    <recordCreates>
        <description>Creates new phone record.</description>
        <name>New_Other_Rec</name>
        <label>New Other Rec</label>
        <locationX>182</locationX>
        <locationY>3047</locationY>
        <assignRecordIdToReference>NewPhoneID</assignRecordIdToReference>
        <connector>
            <targetReference>Other_Preferred</targetReference>
        </connector>
        <inputAssignments>
            <field>Donor__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.OtherPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>DateToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Unknown</stringValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
    </recordCreates>
    <recordCreates>
        <description>Creates new phone record.</description>
        <name>New_Work_Rec</name>
        <label>New Work Rec</label>
        <locationX>226</locationX>
        <locationY>1703</locationY>
        <assignRecordIdToReference>NewPhoneID</assignRecordIdToReference>
        <connector>
            <targetReference>Work_Preferred</targetReference>
        </connector>
        <inputAssignments>
            <field>Donor__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.npe01__WorkPhone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>DateToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Business</stringValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
    </recordCreates>
    <recordCreates>
        <description>Creates new phone record.</description>
        <name>New_Work_Rec1</name>
        <label>New Work Rec</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Donor__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>DateToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Business</stringValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <description>Corrects Preferred Phone if selected type is blank.</description>
        <name>Correct_Preferred_Phone_0</name>
        <label>Correct Preferred Phone</label>
        <locationX>248</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Home_Phone</targetReference>
        </connector>
        <inputAssignments>
            <field>npe01__PreferredPhone__c</field>
            <value>
                <elementReference>NewPreferredPhone</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Bypass_Date_Time</name>
        <label>Set Bypass Date/Time</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Preferred_Phone_Is_Blank</targetReference>
        </connector>
        <inputAssignments>
            <field>Automation_Bypass_DateTime__c</field>
            <value>
                <elementReference>NowFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Home_Primary</name>
        <label>Set Home Primary</label>
        <locationX>94</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Work_Phone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewPhoneID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Mobile_Primary</name>
        <label>Set Mobile Primary</label>
        <locationX>94</locationX>
        <locationY>2615</locationY>
        <connector>
            <targetReference>Other_Phone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewPhoneID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Other_Primary</name>
        <label>Set Other Primary</label>
        <locationX>50</locationX>
        <locationY>3287</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewPhoneID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Work_Primary</name>
        <label>Set Work Primary</label>
        <locationX>94</locationX>
        <locationY>1943</locationY>
        <connector>
            <targetReference>Mobile_Phone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewPhoneID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
    </recordUpdates>
    <start>
        <locationX>683</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Standard_Phone_Field_Populated</targetReference>
        </connector>
        <filterFormula>{!$Permission.Flow_Automations_Off} &lt;&gt; TRUE
&amp;&amp;
(not(isblank({!$Record.Phone})) || not(isblank({!$Record.HomePhone})) || not(isblank({!$Record.npe01__WorkPhone__c})) || not(isblank({!$Record.MobilePhone})) || not(isblank({!$Record.OtherPhone})))</filterFormula>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>4</triggerOrder>
    <variables>
        <description>Stores ID of new phone record.</description>
        <name>NewPhoneID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
