force-app/main/default/flows/Create_Email_Records_for_New_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <description>Determines if alt email is present</description>
        <name>Alternate_Email_0_0</name>
        <label>Alternate Email</label>
        <locationX>380</locationX>
        <locationY>2255</locationY>
        <defaultConnectorLabel>No Alt</defaultConnectorLabel>
        <rules>
            <name>Yes_Alt_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe01__AlternateEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Alt_Rec_0_0</targetReference>
            </connector>
            <label>Yes Alt</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Type</name>
        <label>Email Type</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>New_Pers_Rec2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Personal</defaultConnectorLabel>
        <rules>
            <name>Work</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe01__Preferred_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Work_Rec2</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Alternate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe01__Preferred_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alternate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Alt_Rec2</targetReference>
            </connector>
            <label>Alternate</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if personal email is present.</description>
        <name>Personal_Email</name>
        <label>Personal Email</label>
        <locationX>380</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Work_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Personal</defaultConnectorLabel>
        <rules>
            <name>Yes_Personal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe01__HomeEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Personal_Rec</targetReference>
            </connector>
            <label>Yes Personal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Preferred_Alt_0</name>
        <label>Preferred-Alt</label>
        <locationX>182</locationX>
        <locationY>2495</locationY>
        <defaultConnectorLabel>Not Preferred</defaultConnectorLabel>
        <rules>
            <name>Yes_Preferred_Alt_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe01__Preferred_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alternate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Primary_Alt_0_0</targetReference>
            </connector>
            <label>Yes-Preferred Alt</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if selected Preferred Email points to a blank email field.</description>
        <name>Preferred_Email_Is_Blank</name>
        <label>Preferred Email Is Blank?</label>
        <locationX>380</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Personal_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Blank</defaultConnectorLabel>
        <rules>
            <name>Blank</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe01__Preferred_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Personal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__HomeEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__Preferred_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__WorkEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__Preferred_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alternate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__AlternateEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Correct_Preferred_Email_0</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Preferred_Pers</name>
        <label>Preferred-Pers?</label>
        <locationX>226</locationX>
        <locationY>1151</locationY>
        <defaultConnector>
            <targetReference>Work_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No-Preferred Pers</defaultConnectorLabel>
        <rules>
            <name>Yes_Preferred_Pers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe01__Preferred_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Personal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Primary_Pers</targetReference>
            </connector>
            <label>Yes-Preferred Pers</label>
        </rules>
    </decisions>
    <decisions>
        <name>Preferred_Work</name>
        <label>Preferred-Work?</label>
        <locationX>226</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>Alternate_Email_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Preferred</defaultConnectorLabel>
        <rules>
            <name>Yes_Preferred_Work</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe01__Preferred_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Primary_Work</targetReference>
            </connector>
            <label>Yes-Preferred Work</label>
        </rules>
    </decisions>
    <decisions>
        <name>Standard_Email_Field_Populated</name>
        <label>Standard Email Field Populated?</label>
        <locationX>743</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Email_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Not_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Bypass_Date_Time</targetReference>
            </connector>
            <label>Not Populated</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if work email is present.</description>
        <name>Work_Email</name>
        <label>Work Email</label>
        <locationX>380</locationX>
        <locationY>1583</locationY>
        <defaultConnector>
            <targetReference>Alternate_Email_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Work</defaultConnectorLabel>
        <rules>
            <name>Yes_Work</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe01__WorkEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Work_Rec</targetReference>
            </connector>
            <label>Yes Work</label>
        </rules>
    </decisions>
    <description>Creates Contact Email records for new Contacts.
v10 Optimize flow per FB-1490
v11 Set run order</description>
    <environments>Default</environments>
    <formulas>
        <name>DateToday</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <description>Corrects Preferred Email if type selected is blank.</description>
        <name>NewPreferredEmail</name>
        <dataType>String</dataType>
        <expression>IF (NOT(ISBLANK({!$Record.npe01__HomeEmail__c})), &apos;Personal&apos;, 
IF(NOT(ISBLANK({!$Record.npe01__WorkEmail__c})), &apos;Work&apos;, 
IF(NOT(ISBLANK({!$Record.npe01__AlternateEmail__c})), &apos;Alternate&apos;, 
&apos;Personal&apos;)))</expression>
    </formulas>
    <formulas>
        <name>NowFormula</name>
        <dataType>DateTime</dataType>
        <expression>Now()</expression>
    </formulas>
    <interviewLabel>Create Email Records for New Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Email Records for New Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates new email record.</description>
        <name>New_Alt_Rec2</name>
        <label>New Alt Rec2</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Donor__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>DateToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Unknown</stringValue>
            </value>
        </inputAssignments>
        <object>Contact_Email__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates new email record.</description>
        <name>New_Alt_Rec_0_0</name>
        <label>New Alt Rec</label>
        <locationX>182</locationX>
        <locationY>2375</locationY>
        <assignRecordIdToReference>NewPersID</assignRecordIdToReference>
        <connector>
            <targetReference>Preferred_Alt_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Donor__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.npe01__AlternateEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>DateToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Unknown</stringValue>
            </value>
        </inputAssignments>
        <object>Contact_Email__c</object>
    </recordCreates>
    <recordCreates>
        <description>Creates new email record.</description>
        <name>New_Pers_Rec2</name>
        <label>New Pers Rec2</label>
        <locationX>1370</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Donor__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>DateToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Personal</stringValue>
            </value>
        </inputAssignments>
        <object>Contact_Email__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates new email record.</description>
        <name>New_Personal_Rec</name>
        <label>New Personal Rec</label>
        <locationX>226</locationX>
        <locationY>1031</locationY>
        <assignRecordIdToReference>NewPersID</assignRecordIdToReference>
        <connector>
            <targetReference>Preferred_Pers</targetReference>
        </connector>
        <inputAssignments>
            <field>Donor__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.npe01__HomeEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>DateToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Personal</stringValue>
            </value>
        </inputAssignments>
        <object>Contact_Email__c</object>
    </recordCreates>
    <recordCreates>
        <description>Creates new email record.</description>
        <name>New_Work_Rec</name>
        <label>New Work Rec</label>
        <locationX>226</locationX>
        <locationY>1703</locationY>
        <assignRecordIdToReference>NewPersID</assignRecordIdToReference>
        <connector>
            <targetReference>Preferred_Work</targetReference>
        </connector>
        <inputAssignments>
            <field>Donor__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.npe01__WorkEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>DateToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Business</stringValue>
            </value>
        </inputAssignments>
        <object>Contact_Email__c</object>
    </recordCreates>
    <recordCreates>
        <description>Creates new email record.</description>
        <name>New_Work_Rec2</name>
        <label>New Work Rec2</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Donor__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>DateToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Business</stringValue>
            </value>
        </inputAssignments>
        <object>Contact_Email__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <description>Corrects Preferred Email if selected type is blank.</description>
        <name>Correct_Preferred_Email_0</name>
        <label>Correct Preferred Email</label>
        <locationX>248</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Personal_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>npe01__Preferred_Email__c</field>
            <value>
                <elementReference>NewPreferredEmail</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Sets Date/Time field that is used to bypass validation rule.</description>
        <name>Set_Bypass_Date_Time</name>
        <label>Set Bypass Date/Time</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Preferred_Email_Is_Blank</targetReference>
        </connector>
        <inputAssignments>
            <field>Automation_Bypass_DateTime__c</field>
            <value>
                <elementReference>NowFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Primary_Alt_0_0</name>
        <label>Set Primary-Alt</label>
        <locationX>50</locationX>
        <locationY>2615</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewPersID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Email__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Primary_Pers</name>
        <label>Set Primary-Pers</label>
        <locationX>94</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Work_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewPersID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Email__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Primary_Work</name>
        <label>Set Primary-Work</label>
        <locationX>94</locationX>
        <locationY>1943</locationY>
        <connector>
            <targetReference>Alternate_Email_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewPersID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Email__c</object>
    </recordUpdates>
    <start>
        <locationX>617</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Standard_Email_Field_Populated</targetReference>
        </connector>
        <filterFormula>{!$Permission.Flow_Automations_Off} &lt;&gt; TRUE
&amp;&amp;
(not(isblank({!$Record.Email})) || not(isblank({!$Record.npe01__AlternateEmail__c})) || not(isblank({!$Record.npe01__HomeEmail__c})) || not(isblank({!$Record.npe01__WorkEmail__c})))</filterFormula>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>3</triggerOrder>
    <variables>
        <name>NewPersID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewPersonalEmail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact_Email__c</objectType>
    </variables>
    <variables>
        <description>Value input for primary email on creation.</description>
        <name>PrimaryEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
