force-app/main/default/flows/Email_Record_Triggered_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_to_Updated_Collection</name>
        <label>Add to Updated Collection</label>
        <locationX>886</locationX>
        <locationY>2183</locationY>
        <assignmentItems>
            <assignToReference>UpdatedCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Update_Contact_Emails_Pri</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_Emails_Pri</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Updated_Collection_0_0</name>
        <label>Add to Updated Collection</label>
        <locationX>1766</locationX>
        <locationY>2063</locationY>
        <assignmentItems>
            <assignToReference>UpdatedCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Update_Contact_Emails_Not_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_Emails_Not_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fields_0</name>
        <label>Assign Fields</label>
        <locationX>754</locationX>
        <locationY>1967</locationY>
        <assignmentItems>
            <assignToReference>Update_Contact_Emails_Pri.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Contact_Emails_Pri.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Undeliverable</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Updated_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fields_0_0_0</name>
        <label>Assign Fields</label>
        <locationX>1634</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>Update_Contact_Emails_Not_0.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Contact_Emails_Not_0.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Undeliverable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Contact_Emails_Not_0.Sys_Mod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Updated_Collection_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Primary</name>
        <label>Update Primary</label>
        <locationX>886</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>Update_Contact_Emails_Pri.Primary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Contact_Emails_Pri.Automation_Bypass_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NowFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Contact_Emails_Pri.Sys_Mod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Same_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Another_Email_Exists</name>
        <label>Another Email Exists</label>
        <locationX>2206</locationX>
        <locationY>1727</locationY>
        <defaultConnector>
            <targetReference>Clear_Contact_Std_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not exist</defaultConnectorLabel>
        <rules>
            <name>Yes_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Emails_0_0_0.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Email</targetReference>
            </connector>
            <label>Yes Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Type</name>
        <label>Email Type</label>
        <locationX>2404</locationX>
        <locationY>1151</locationY>
        <defaultConnector>
            <targetReference>Clear_Contact_Home_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Personal</defaultConnectorLabel>
        <rules>
            <name>Work</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Contact_Work_Email</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Alt3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assistant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spouse</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unknown</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Contact_Alt_Email_0</targetReference>
            </connector>
            <label>Alt</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Type_0</name>
        <label>Email Type?</label>
        <locationX>666</locationX>
        <locationY>1151</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Personal</defaultConnectorLabel>
        <rules>
            <name>Work_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Alt_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assistant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spouse</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unknown</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Alt</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Type_0_0_0</name>
        <label>Email Type?</label>
        <locationX>1546</locationX>
        <locationY>1151</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Personal</defaultConnectorLabel>
        <rules>
            <name>Work_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Alt_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assistant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spouse</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unknown</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Alt</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_or_Changed_to_Current</name>
        <label>Is New or Changed to Current?</label>
        <locationX>1535</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Set_Bypass_Date_Time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Current</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Undeliverable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Start_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluates Primary and Status fields.</description>
        <name>Is_Primary_Current</name>
        <label>Is Primary/Current</label>
        <locationX>1535</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Email_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No P/C</defaultConnectorLabel>
        <rules>
            <name>Yes_P_C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Current</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Type_0</targetReference>
            </connector>
            <label>Yes P/C</label>
        </rules>
        <rules>
            <name>No_P_Yes_C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Current</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Type_0_0_0</targetReference>
            </connector>
            <label>No P/Yes C</label>
        </rules>
    </decisions>
    <decisions>
        <name>Same_Type</name>
        <label>Same Type?</label>
        <locationX>886</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>Add_to_Updated_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Same</defaultConnectorLabel>
        <rules>
            <name>Yes_Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_Contact_Emails_Pri.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fields_0</targetReference>
            </connector>
            <label>Yes Same</label>
        </rules>
    </decisions>
    <decisions>
        <name>Same_Type_0_0</name>
        <label>Same Type?</label>
        <locationX>1766</locationX>
        <locationY>1727</locationY>
        <defaultConnector>
            <targetReference>Add_to_Updated_Collection_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Same</defaultConnectorLabel>
        <rules>
            <name>Yes_Same_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_Contact_Emails_Not_0.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fields_0_0_0</targetReference>
            </connector>
            <label>Yes Same</label>
        </rules>
    </decisions>
    <decisions>
        <description>Skips flow</description>
        <name>Skip_Flow</name>
        <label>Skip Flow</label>
        <locationX>792</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Get_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&apos;t Skip</defaultConnectorLabel>
        <rules>
            <name>Skip</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Flow_Automations_Off</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sys_Mod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Sys_Mod</targetReference>
            </connector>
            <label>Skip</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Primary</name>
        <label>Was Primary?</label>
        <locationX>2404</locationX>
        <locationY>1487</locationY>
        <defaultConnectorLabel>No Wasn&apos;t</defaultConnectorLabel>
        <rules>
            <name>Yes_Was_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Emails_0_0_0</targetReference>
            </connector>
            <label>Yes Was Primary</label>
        </rules>
    </decisions>
    <description>Updates Contact and other Email records.</description>
    <environments>Default</environments>
    <formulas>
        <name>NowFormula</name>
        <dataType>DateTime</dataType>
        <expression>Now()</expression>
    </formulas>
    <interviewLabel>Email Record Triggered Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Record Triggered Updates</label>
    <loops>
        <name>Update_Contact_Emails_Not_0</name>
        <label>Update Contact Emails Not</label>
        <locationX>1546</locationX>
        <locationY>1607</locationY>
        <collectionReference>Get_Contact_Emails_0_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Same_Type_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Collection_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Update_Contact_Emails_Pri</name>
        <label>Update Contact Emails Pri</label>
        <locationX>666</locationX>
        <locationY>1607</locationY>
        <collectionReference>Get_Contact_Emails</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Primary</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>1535</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_New_or_Changed_to_Current</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Emails</name>
        <label>Get Contact Emails</label>
        <locationX>666</locationX>
        <locationY>1487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Contact_Emails_Pri</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </filters>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact_Email__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Emails_0_0</name>
        <label>Get Contact Emails</label>
        <locationX>1546</locationX>
        <locationY>1487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Contact_Emails_Not_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </filters>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact_Email__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Emails_0_0_0</name>
        <label>Get Contact Emails</label>
        <locationX>2206</locationX>
        <locationY>1607</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Another_Email_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </filters>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact_Email__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Clears Work Email field on Contact</description>
        <name>Clear_Contact_Alt_Email_0</name>
        <label>Clear Contact Alt Email</label>
        <locationX>2404</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Was_Primary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__AlternateEmail__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Clears Work Email field on Contact</description>
        <name>Clear_Contact_Home_Email</name>
        <label>Clear Contact Home Email</label>
        <locationX>2668</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Was_Primary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__HomeEmail__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Clears Standard Email field on Contact</description>
        <name>Clear_Contact_Std_Email</name>
        <label>Clear Contact Std Email</label>
        <locationX>2338</locationX>
        <locationY>1847</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Clears Work Email field on Contact</description>
        <name>Clear_Contact_Work_Email</name>
        <label>Clear Contact Work Email</label>
        <locationX>2140</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Was_Primary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__WorkEmail__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_Sys_Mod</name>
        <label>Clear Sys-Mod</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sys_Mod__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Bypass_Date_Time</name>
        <label>Set Bypass Date/Time</label>
        <locationX>1535</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Is_Primary_Current</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Automation_Bypass_DateTime__c</field>
            <value>
                <elementReference>NowFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Start_0</name>
        <label>Set Start</label>
        <locationX>1403</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Set_Bypass_Date_Time</targetReference>
        </connector>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection</name>
        <label>Update Collection</label>
        <locationX>666</locationX>
        <locationY>2399</locationY>
        <inputReference>UpdatedCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection_0_0</name>
        <label>Update Collection</label>
        <locationX>1546</locationX>
        <locationY>2279</locationY>
        <inputReference>UpdatedCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_0_0_0_0_0_0_0</name>
        <label>Update Contact</label>
        <locationX>402</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Get_Contact_Emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Preferred_Email__c</field>
            <value>
                <stringValue>Work</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__WorkEmail__c</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_0_0_0_0_0_0_0_0</name>
        <label>Update Contact</label>
        <locationX>666</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Get_Contact_Emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__AlternateEmail__c</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Preferred_Email__c</field>
            <value>
                <stringValue>Alternate</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_0_0_0_0_0_0_0_0_0</name>
        <label>Update Contact</label>
        <locationX>930</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Get_Contact_Emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__HomeEmail__c</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Preferred_Email__c</field>
            <value>
                <stringValue>Personal</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Contact</label>
        <locationX>1282</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Get_Contact_Emails_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__WorkEmail__c</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Contact</label>
        <locationX>1546</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Get_Contact_Emails_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__AlternateEmail__c</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Contact</label>
        <locationX>1810</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Get_Contact_Emails_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__HomeEmail__c</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Email</name>
        <label>Update Existing Email</label>
        <locationX>2074</locationX>
        <locationY>1847</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_Emails_0_0_0.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Email__c</object>
    </recordUpdates>
    <start>
        <locationX>666</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Flow</targetReference>
        </connector>
        <filterFormula>(ISNEW() &amp;&amp; ISPICKVAL({!$Record.Status__c}, &apos;Current&apos;)) ||
(NOT(ISNEW()) &amp;&amp; ISPICKVAL({!$Record.Status__c}, &apos;Current&apos;)) ||
(ISCHANGED({!$Record.Status__c}) &amp;&amp; ISPICKVAL({!$Record.Status__c}, &apos;Undeliverable&apos;)) ||
ISCHANGED({!$Record.Primary__c})</filterFormula>
        <object>Contact_Email__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>COLContactEmails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact_Email__c</objectType>
    </variables>
    <variables>
        <name>UpdatedCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact_Email__c</objectType>
    </variables>
</Flow>
