force-app/main/default/flows/Email_Record_Triggered_Updates_Oct_Rev.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_to_Updated_Collection</name>
        <label>Add to Updated Collection</label>
        <locationX>666</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>UpdatedCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Update_Contact_Emails_Pri</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_Emails_Pri</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Updated_Collection_0_0</name>
        <label>Add to Updated Collection</label>
        <locationX>3438</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>UpdatedCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Update_Contact_Emails_Pri_0_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_Emails_Pri_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Primary</name>
        <label>Update Primary</label>
        <locationX>666</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>Update_Contact_Emails_Pri.Primary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Contact_Emails_Pri.Automation_Bypass_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NowFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Contact_Emails_Pri.Sys_Mod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Updated_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Primary_0_0</name>
        <label>Update Primary</label>
        <locationX>3438</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>Update_Contact_Emails_Pri_0_0.Primary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Contact_Emails_Pri_0_0.Automation_Bypass_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NowFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Contact_Emails_Pri_0_0.Sys_Mod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Updated_Collection_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Compare_to_Contact</name>
        <label>Compare to Contact</label>
        <locationX>2690</locationX>
        <locationY>2303</locationY>
        <defaultConnector>
            <targetReference>Email_Type_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match/Not Primary</defaultConnectorLabel>
        <rules>
            <name>Matches_and_or_Primary</name>
            <conditionLogic>8 OR (1 AND 2) OR (3 AND 4) OR (5 AND 6 AND 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Personal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Most_Recent_Current.Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Donor__r.npe01__HomeEmail__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Most_Recent_Current.Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Donor__r.npe01__WorkEmail__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Personal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Most_Recent_Current.Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Donor__r.npe01__AlternateEmail__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Status</targetReference>
            </connector>
            <label>Matches and/or Primary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Type_0</name>
        <label>Email Type?</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Personal</defaultConnectorLabel>
        <rules>
            <name>Work_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Alt_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assistant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spouse</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unknown</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Alt</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Type_0_0_0</name>
        <label>Email Type?</label>
        <locationX>1634</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Personal</defaultConnectorLabel>
        <rules>
            <name>Work_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Alt_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assistant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spouse</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unknown</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Alt</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Type_0_0_0_0_0_0</name>
        <label>Email Type?</label>
        <locationX>3350</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Personal</defaultConnectorLabel>
        <rules>
            <name>Work_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Alt_0_0_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assistant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spouse</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unknown</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Alt</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Type_0_0_0_0_0_0_0</name>
        <label>Email Type?</label>
        <locationX>2954</locationX>
        <locationY>2423</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Personal</defaultConnectorLabel>
        <rules>
            <name>Work_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Alt_0_0_0_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assistant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spouse</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unknown</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Alt</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Type_0_0_0_0_0_0_0_0_0</name>
        <label>Email Type?</label>
        <locationX>3746</locationX>
        <locationY>2423</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Personal</defaultConnectorLabel>
        <rules>
            <name>Work_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Alt_0_0_0_0_0_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assistant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spouse</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unknown</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Alt</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New</name>
        <label>Is New?</label>
        <locationX>2492</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Set_Bypass_Date_Time_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Start_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Newest</name>
        <label>Is Newest</label>
        <locationX>4010</locationX>
        <locationY>2303</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_Status2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Newest</defaultConnectorLabel>
        <rules>
            <name>Yes_Newest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Most_Recent_Current_0.CreatedDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Type_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes, Newest</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluates Primary and Status fields.</description>
        <name>Is_Primary_Current</name>
        <label>Is Primary/Current</label>
        <locationX>1370</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>No P/C</defaultConnectorLabel>
        <rules>
            <name>Yes_P_C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Current</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Type_0</targetReference>
            </connector>
            <label>Yes P/C</label>
        </rules>
        <rules>
            <name>No_P_Yes_C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Current</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_Primary</targetReference>
            </connector>
            <label>No P/Yes C</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matches_Current_Primary</name>
        <label>Matches Current Primary?</label>
        <locationX>1370</locationX>
        <locationY>1175</locationY>
        <defaultConnector>
            <targetReference>Email_Type_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Same</defaultConnectorLabel>
        <rules>
            <name>Yes_Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Current_Primary.Type__c</elementReference>
                </rightValue>
            </conditions>
            <label>Yes, Same</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_Changed_to_TRUE</name>
        <label>Primary Changed to TRUE?</label>
        <locationX>3614</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Status_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Changed</defaultConnectorLabel>
        <rules>
            <name>Yes_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Type_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes, Changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Skips flow</description>
        <name>Skip_Flow</name>
        <label>Skip Flow</label>
        <locationX>1271</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Get_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&apos;t Skip</defaultConnectorLabel>
        <rules>
            <name>Skip</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Flow_Automations_Off</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sys_Mod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Sys_Mod</targetReference>
            </connector>
            <label>Skip</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Changed</name>
        <label>Status Changed?</label>
        <locationX>3614</locationX>
        <locationY>2063</locationY>
        <defaultConnectorLabel>Fault</defaultConnectorLabel>
        <rules>
            <name>NowUndeliverable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Undeliverable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Current</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Most_Recent_Current</targetReference>
            </connector>
            <label>Now Undeliverable</label>
        </rules>
        <rules>
            <name>NowCurrent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Current</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Undeliverable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Most_Recent_Current_0</targetReference>
            </connector>
            <label>Now Current</label>
        </rules>
    </decisions>
    <description>Removing functionality that sets Status to Undeliverable.</description>
    <environments>Default</environments>
    <formulas>
        <name>NowFormula</name>
        <dataType>DateTime</dataType>
        <expression>Now()</expression>
    </formulas>
    <interviewLabel>Email Record Triggered Updates (Oct Rev) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Record Triggered Updates (Oct Rev)</label>
    <loops>
        <name>Update_Contact_Emails_Pri</name>
        <label>Update Contact Emails Pri</label>
        <locationX>578</locationX>
        <locationY>1511</locationY>
        <collectionReference>Get_Contact_Emails</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Primary</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Update_Contact_Emails_Pri_0_0</name>
        <label>Update Contact Emails Pri</label>
        <locationX>3350</locationX>
        <locationY>1391</locationY>
        <collectionReference>Get_Contact_Emails_0_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Primary_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Collection_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>2492</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_New</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Emails</name>
        <label>Get Contact Emails</label>
        <locationX>578</locationX>
        <locationY>1391</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Contact_Emails_Pri</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact_Email__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Emails_0_0</name>
        <label>Get Contact Emails</label>
        <locationX>3350</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Contact_Emails_Pri_0_0</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact_Email__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Primary</name>
        <label>Get Current Primary</label>
        <locationX>1370</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Matches_Current_Primary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact_Email__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Most_Recent_Current</name>
        <label>Get Most Recent Current</label>
        <locationX>2690</locationX>
        <locationY>2183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Compare_to_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </filters>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact_Email__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Most_Recent_Current_0</name>
        <label>Get Most Recent Current</label>
        <locationX>4010</locationX>
        <locationY>2183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Newest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </filters>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact_Email__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Clear_Sys_Mod</name>
        <label>Clear Sys-Mod</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sys_Mod__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Bypass_Date_Time</name>
        <label>Set Bypass Date/Time</label>
        <locationX>1370</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Is_Primary_Current</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Automation_Bypass_DateTime__c</field>
            <value>
                <elementReference>NowFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Bypass_Date_Time_0</name>
        <label>Set Bypass Date/Time</label>
        <locationX>3614</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Primary_Changed_to_TRUE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Automation_Bypass_DateTime__c</field>
            <value>
                <elementReference>NowFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Start_0</name>
        <label>Set Start</label>
        <locationX>1370</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Set_Bypass_Date_Time</targetReference>
        </connector>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection</name>
        <label>Update Collection</label>
        <locationX>578</locationX>
        <locationY>1967</locationY>
        <inputReference>UpdatedCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection_0_0</name>
        <label>Update Collection</label>
        <locationX>3350</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>Status_Changed</targetReference>
        </connector>
        <inputReference>UpdatedCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_0_0_0_0_0_0_0</name>
        <label>Update Contact</label>
        <locationX>314</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Get_Contact_Emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Email_Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Preferred_Email__c</field>
            <value>
                <stringValue>Work</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__WorkEmail__c</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_0_0_0_0_0_0_0_0</name>
        <label>Update Contact</label>
        <locationX>578</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Get_Contact_Emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Email_Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__AlternateEmail__c</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Preferred_Email__c</field>
            <value>
                <stringValue>Alternate</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_0_0_0_0_0_0_0_0_0</name>
        <label>Update Contact</label>
        <locationX>842</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Get_Contact_Emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Email_Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__HomeEmail__c</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Preferred_Email__c</field>
            <value>
                <stringValue>Personal</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Contact</label>
        <locationX>1370</locationX>
        <locationY>1415</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__WorkEmail__c</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Contact</label>
        <locationX>1634</locationX>
        <locationY>1415</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__AlternateEmail__c</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Contact</label>
        <locationX>1898</locationX>
        <locationY>1415</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__HomeEmail__c</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Contact</label>
        <locationX>3086</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Get_Contact_Emails_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Email_Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Preferred_Email__c</field>
            <value>
                <stringValue>Work</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__WorkEmail__c</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Contact</label>
        <locationX>3350</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Get_Contact_Emails_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Email_Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__AlternateEmail__c</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Preferred_Email__c</field>
            <value>
                <stringValue>Alternate</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Contact</label>
        <locationX>3614</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Get_Contact_Emails_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Email_Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__HomeEmail__c</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Preferred_Email__c</field>
            <value>
                <stringValue>Personal</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Contact</label>
        <locationX>2690</locationX>
        <locationY>2543</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Preferred_Email_Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__WorkEmail__c</field>
            <value>
                <elementReference>Get_Most_Recent_Current.Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Contact</label>
        <locationX>2954</locationX>
        <locationY>2543</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Preferred_Email_Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__AlternateEmail__c</field>
            <value>
                <elementReference>Get_Most_Recent_Current.Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Contact</label>
        <locationX>3218</locationX>
        <locationY>2543</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Preferred_Email_Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__HomeEmail__c</field>
            <value>
                <elementReference>Get_Most_Recent_Current.Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Contact</label>
        <locationX>3482</locationX>
        <locationY>2543</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Preferred_Email_Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__WorkEmail__c</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Contact</label>
        <locationX>3746</locationX>
        <locationY>2543</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Preferred_Email_Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__AlternateEmail__c</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Contact</label>
        <locationX>4010</locationX>
        <locationY>2543</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Preferred_Email_Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__HomeEmail__c</field>
            <value>
                <elementReference>Get_Most_Recent_Current_0.Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_Status</name>
        <label>Update Contact</label>
        <locationX>2426</locationX>
        <locationY>2423</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Preferred_Email_Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_Status2</name>
        <label>Update Contact</label>
        <locationX>4274</locationX>
        <locationY>2423</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Preferred_Email_Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>1145</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Flow</targetReference>
        </connector>
        <filterFormula>(ISNEW() &amp;&amp; ISPICKVAL({!$Record.Status__c}, &apos;Current&apos;)) ||
(NOT(ISNEW()) &amp;&amp; ISPICKVAL({!$Record.Status__c}, &apos;Current&apos;)) ||
(ISCHANGED({!$Record.Status__c}) &amp;&amp; ISPICKVAL({!$Record.Status__c}, &apos;Undeliverable&apos;)) ||
ISCHANGED({!$Record.Primary__c})</filterFormula>
        <object>Contact_Email__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>COLContactEmails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact_Email__c</objectType>
    </variables>
    <variables>
        <name>UpdatedCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact_Email__c</objectType>
    </variables>
</Flow>
