force-app/main/default/flows/Entity_Opt_In_Date_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Skip_Flow</name>
        <label>Skip Flow?</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>What_Entity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Flow_Automations_Off</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>What Entity is Indicated</description>
        <name>What_Entity</name>
        <label>What Entity?</label>
        <locationX>974</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Entity_Equals_C3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Entity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_C3_Opt_In</targetReference>
            </connector>
            <label>Entity Equals C3</label>
        </rules>
        <rules>
            <name>Entity_Equals_C4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Entity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_C4_Opt_in</targetReference>
            </connector>
            <label>Entity Equals C4</label>
        </rules>
        <rules>
            <name>Entity_Equals_PAC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Entity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_PAC_Opt_In</targetReference>
            </connector>
            <label>Entity Equals PAC</label>
        </rules>
        <rules>
            <name>Entity_Equals_EUR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Entity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EDF Europe</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_EUR_Opt_In</targetReference>
            </connector>
            <label>Entity Equals EUR</label>
        </rules>
        <rules>
            <name>Entity_Equals_MEX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Entity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EDF Mexico</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_MEX_Opt_In</targetReference>
            </connector>
            <label>Entity Equals MEX</label>
        </rules>
        <rules>
            <name>Entity_Equals_MSAT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Entity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Methane SAT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_MSAT_Opt_In</targetReference>
            </connector>
            <label>Entity Equals MSAT</label>
        </rules>
        <rules>
            <name>Entity_Equals_NCPAC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Entity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NC PAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Record_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Entity Equals NCPAC</label>
        </rules>
    </decisions>
    <description>This Flow fires when an Opportunity is Created or updated to populate the Entity Opt-in Date on the Primary Contact Record.
Added Skip Flow Decision element.</description>
    <environments>Default</environments>
    <interviewLabel>Entity Opt In Date Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Entity Opt In Date Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Contact_C3_Opt_In</name>
        <label>Update Contact C3 Opt In</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>C3_Last_Opt_In_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_C4_Opt_in</name>
        <label>Update Contact C4 Opt in</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_C4_Opt_In_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_EUR_Opt_In</name>
        <label>Update Contact EUR Opt In</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EDF_Europe_Last_Opt_In_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_MEX_Opt_In</name>
        <label>Update Contact MEX Opt In</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EDF_Mexico_Last_Opt_In_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_MSAT_Opt_In</name>
        <label>Update Contact MSAT Opt In</label>
        <locationX>1370</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Methane_SAT_Last_Opt_In_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_PAC_Opt_In</name>
        <label>Update Contact PAC Opt In</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PAC_Last_Opt_In_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Record_0_0_0_0_0_0</name>
        <label>Update Contact Record</label>
        <locationX>1634</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NC_PAC_Last_Opt_In_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Flow</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Entity__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>4</triggerOrder>
</Flow>
