force-app/main/default/flows/Former_Manager_Handle_Manager_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_to_Update_Collection</name>
        <label>Add to Update Collection</label>
        <locationX>911</locationX>
        <locationY>197</locationY>
        <assignmentItems>
            <assignToReference>recordsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopFormerManagers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopFormerManagers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_EndDate</name>
        <label>Set EndDate</label>
        <locationX>911</locationX>
        <locationY>373</locationY>
        <assignmentItems>
            <assignToReference>loopFormerManagers.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Update_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Flow_Automations_Off</name>
        <label>Flow Automations Off</label>
        <locationX>187</locationX>
        <locationY>144</locationY>
        <defaultConnector>
            <targetReference>Was_Former_Id_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Has_Flows_Off_Permission_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Flow_Automations_Off</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>User Has Flows Off Permission Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Current_Manager_Set</name>
        <label>Was Current Manager Set?</label>
        <locationX>280</locationX>
        <locationY>619</locationY>
        <defaultConnectorLabel>continue</defaultConnectorLabel>
        <rules>
            <name>Insert_Current_Portfolio_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_New_Record</targetReference>
            </connector>
            <label>Insert Current Portfolio Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Former_Id_Set</name>
        <label>Was Former Id Set?</label>
        <locationX>50</locationX>
        <locationY>267</locationY>
        <defaultConnector>
            <targetReference>Was_Current_Manager_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>continue</defaultConnectorLabel>
        <rules>
            <name>Process_Former_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getFormerPortfolioManager</targetReference>
            </connector>
            <label>Process Former Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_Former_Mangers_Found</name>
        <label>Were Former Mangers Found?</label>
        <locationX>496</locationX>
        <locationY>267</locationY>
        <defaultConnector>
            <targetReference>Was_Current_Manager_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>continue</defaultConnectorLabel>
        <rules>
            <name>Yes_Remove_Managers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getFormerPortfolioManager</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopFormerManagers</targetReference>
            </connector>
            <label>Yes --&gt; Remove Managers</label>
        </rules>
    </decisions>
    <interviewLabel>Former Manager: (Insert or Update) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Former Manager: (Handle Manager Change)</label>
    <loops>
        <name>loopFormerManagers</name>
        <label>loopFormerManagers</label>
        <locationX>760</locationX>
        <locationY>264</locationY>
        <collectionReference>getFormerPortfolioManager</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_EndDate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_New_Record</name>
        <label>Insert New Record</label>
        <locationX>291</locationX>
        <locationY>856</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Portfolio_Manager__c</field>
            <value>
                <elementReference>currentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>type</elementReference>
            </value>
        </inputAssignments>
        <object>Relationship_Manager_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getFormerPortfolioManager</name>
        <label>getFormerPortfolioManager</label>
        <locationX>344</locationX>
        <locationY>265</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Were_Former_Mangers_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Portfolio_Manager__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>type</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Relationship_Manager_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records</name>
        <label>Update Records</label>
        <locationX>760</locationX>
        <locationY>481</locationY>
        <connector>
            <targetReference>Was_Current_Manager_Set</targetReference>
        </connector>
        <inputReference>recordsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>104</locationX>
        <locationY>29</locationY>
        <connector>
            <targetReference>Flow_Automations_Off</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>formerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Relationship_Manager_History__c</objectType>
    </variables>
    <variables>
        <name>type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
