force-app/main/default/flows/GAU_Allocation_After_Save_Match_Oppty_Allocation_to_Pmt_Allocation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Automation_Permissions_Off</name>
        <label>Automation Permissions Off</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity_Allocation_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_has_Automation_Permissions_Custom_Permission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Flow_Automations_Off</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>User has Automation Permissions Custom Permission</label>
        </rules>
    </decisions>
    <description>Checks if the Payment GAU Allocation was changed and updates the corresponding Opportunity GAU Allocation</description>
    <environments>Default</environments>
    <interviewLabel>GAU Allocation After Save Match Oppty Allocation to Pmt Allocation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GAU Allocation After Save Match Oppty Allocation to Pmt Allocation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Opportunity_Allocation_Record</name>
        <label>Update Opportunity Allocation Record</label>
        <locationX>308</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>npsp__General_Accounting_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp__General_Accounting_Unit__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>$Record.Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Restriction__c</field>
            <value>
                <elementReference>$Record.Restriction__c</elementReference>
            </value>
        </inputAssignments>
        <object>npsp__Allocation__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Automation_Permissions_Off</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>npsp__Payment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Region__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Restriction__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>npsp__General_Accounting_Unit__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>npsp__Amount__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>npsp__Allocation__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>2</triggerOrder>
</Flow>
