force-app/main/default/flows/GAU_Allocation_Create_AFTER_SAVE_Values.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Created_as_Received</name>
        <label>Payment Created as Paid?</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Get_Open_Exchange_Rate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Created_Received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npsp__Payment__r.npe01__Paid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Paid_Exchange_Rate</targetReference>
            </connector>
            <label>Created Paid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Currency_Type</name>
        <label>Currency Type</label>
        <locationX>545</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>USD_Opportunity_Amt_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>USD</defaultConnectorLabel>
        <rules>
            <name>MC</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npsp__Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__Opportunity__r.Currency_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>USD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__Payment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__Payment__r.npe01__Opportunity__r.Currency_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>USD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Have_Exchange_Rates</targetReference>
            </connector>
            <label>MC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_Exchange_Rates</name>
        <label>Have Exchange Rates?</label>
        <locationX>248</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Created_as_Received</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Exchange Rates</defaultConnectorLabel>
        <rules>
            <name>Exchange_Rates_Populated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npsp__Opportunity__r.Close_Exchange_Rate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__Opportunity__r.Initial_Exchange_Rate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MC_Opportunity_Amt_Values</targetReference>
            </connector>
            <label>Exchange Rates Populated</label>
        </rules>
    </decisions>
    <description>Multi Currency Flow 2  - Populates GAU Allocations Amount Values when they&apos;re created depending on if they&apos;re related to an Opportunity, Payment, or Campaign Optimized and corrected per FB-1852</description>
    <environments>Default</environments>
    <formulas>
        <name>MCOpportunityUSDExpectedAmt</name>
        <dataType>Currency</dataType>
        <expression>IF(
NOT(ISBLANK({!$Record.npsp__Opportunity__r.Initial_Exchange_Rate__c})),
({!$Record.npsp__Amount__c}*{!$Record.npsp__Opportunity__r.Initial_Exchange_Rate__r.Exchange_Rate__c})*{!$Record.npsp__Opportunity__r.Probability},
null
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>MCOpptyInitialAmt</name>
        <dataType>Currency</dataType>
        <expression>IF(
NOT(ISBLANK({!$Record.npsp__Opportunity__r.Initial_Exchange_Rate__c})),
{!$Record.npsp__Amount__c}*{!$Record.npsp__Opportunity__r.Initial_Exchange_Rate__r.Exchange_Rate__c},
null
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>MCOpptyReceivedAmt</name>
        <dataType>Currency</dataType>
        <expression>IF(
   AND(
    OR(        
        ISPICKVAL({!$Record.npsp__Opportunity__r.StageName}, &quot;Received&quot;),
        ISPICKVAL({!$Record.npsp__Opportunity__r.StageName}, &quot;Received as Unconditional Pledge&quot;), 
        ISPICKVAL({!$Record.npsp__Opportunity__r.StageName}, &quot;Received as Conditional Pledge&quot;)
         ), 
    NOT(ISBLANK({!$Record.npsp__Opportunity__r.Close_Exchange_Rate__c}))
    ),
      {!$Record.npsp__Amount__c}*{!$Record.npsp__Opportunity__r.Close_Exchange_Rate__r.Exchange_Rate__c},
    null
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>MCPmtExpectedAmt1</name>
        <dataType>Currency</dataType>
        <expression>IF(
NOT(ISBLANK({!$Record.npsp__Payment__r.npe01__Opportunity__r.Initial_Exchange_Rate__c})),
({!$Record.npsp__Amount__c}*{!$Record.npsp__Payment__r.npe01__Opportunity__r.Initial_Exchange_Rate__r.Exchange_Rate__c})*{!$Record.npsp__Payment__r.npe01__Opportunity__r.Probability},
null
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>MCPmtExpectedAmt2</name>
        <dataType>Currency</dataType>
        <expression>({!$Record.npsp__Amount__c}*{!Get_Open_Exchange_Rate.Exchange_Rate__c})*{!$Record.npsp__Payment__r.npe01__Opportunity__r.Probability}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>MCPmtInitialAmt1</name>
        <dataType>Currency</dataType>
        <expression>IF(
NOT(ISBLANK({!$Record.npsp__Payment__r.npe01__Opportunity__r.Initial_Exchange_Rate__c})),
{!$Record.npsp__Amount__c}*{!$Record.npsp__Payment__r.npe01__Opportunity__r.Initial_Exchange_Rate__r.Exchange_Rate__c},
null
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>MCPmtInitialAmt2</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.npsp__Amount__c}*{!Get_Open_Exchange_Rate.Exchange_Rate__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>MCPmtReceivedAmt1</name>
        <dataType>Currency</dataType>
        <expression>IF(
   AND(
   NOT(ISBLANK({!$Record.npsp__Payment__r.npe01__Opportunity__r.Close_Exchange_Rate__c})),
   {!$Record.npsp__Payment__r.npe01__Paid__c}=TRUE
    ),
      {!$Record.npsp__Amount__c}*{!$Record.npsp__Payment__r.npe01__Opportunity__r.Close_Exchange_Rate__r.Exchange_Rate__c},
    null
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>MCPmtReceivedAmt2</name>
        <dataType>Currency</dataType>
        <expression>IF( 
  {!$Record.npsp__Payment__r.npe01__Paid__c}=TRUE,
      {!$Record.npsp__Amount__c}*{!Get_Paid_Exchange_Rate.Exchange_Rate__c},
    null
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>USDOpportunityExpectedAmt</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.npsp__Amount__c}*{!$Record.npsp__Opportunity__r.Probability}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>USDOpptyReceivedAmt</name>
        <dataType>Currency</dataType>
        <expression>IF(
    OR(        
        ISPICKVAL({!$Record.npsp__Opportunity__r.StageName}, &quot;Received&quot;),
        ISPICKVAL({!$Record.npsp__Opportunity__r.StageName}, &quot;Received as Unconditional Pledge&quot;), 
        ISPICKVAL({!$Record.npsp__Opportunity__r.StageName}, &quot;Received as Conditional Pledge&quot;)
         ), 
      {!$Record.npsp__Amount__c},
    null
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>USDPmtExpectedAmt</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.npsp__Amount__c}*{!$Record.npsp__Payment__r.npe01__Opportunity__r.Probability}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>USDPmtReceivedAmt</name>
        <dataType>Currency</dataType>
        <expression>IF(
     {!$Record.npsp__Payment__r.npe01__Paid__c}=TRUE,
     {!$Record.npsp__Amount__c},
    null
)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>GAU Allocation Create AFTER SAVE Values {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GAU Allocation Create AFTER SAVE Values</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Open_Exchange_Rate</name>
        <label>Get Open Exchange Rate</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MC_Payment_Amt_Values_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Effective_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </filters>
        <filters>
            <field>Currency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.Currency_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Exchange_Rate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Paid_Exchange_Rate</name>
        <label>Get Paid Exchange Rate</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MC_Payment_Amt_Values_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Effective_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.CloseDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Currency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.Currency_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Exchange_Rate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>MC_Opportunity_Amt_Values</name>
        <label>MC Opportunity Amt Values</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>MC_Payment_Amt_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Allocation_USD_Close_Amount__c</field>
            <value>
                <elementReference>MCOpptyReceivedAmt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Allocation_USD_Expected_Amount__c</field>
            <value>
                <elementReference>MCOpportunityUSDExpectedAmt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Allocation_USD_Initial_Amount__c</field>
            <value>
                <elementReference>MCOpptyInitialAmt</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>MC_Payment_Amt_Values</name>
        <label>MC Payment Amt Values</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__Payment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Allocation_USD_Close_Amount__c</field>
            <value>
                <elementReference>MCPmtReceivedAmt1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Allocation_USD_Expected_Amount__c</field>
            <value>
                <elementReference>MCPmtExpectedAmt1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Allocation_USD_Initial_Amount__c</field>
            <value>
                <elementReference>MCPmtInitialAmt1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>MC_Payment_Amt_Values_0</name>
        <label>MC Payment Amt Values</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__Payment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Allocation_USD_Close_Amount__c</field>
            <value>
                <elementReference>MCPmtReceivedAmt2</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>MC_Payment_Amt_Values_0_0</name>
        <label>MC Payment Amt Values</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__Payment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Allocation_USD_Expected_Amount__c</field>
            <value>
                <elementReference>MCPmtExpectedAmt2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Allocation_USD_Initial_Amount__c</field>
            <value>
                <elementReference>MCPmtInitialAmt2</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>USD_Opportunity_Amt_Values</name>
        <label>USD Opportunity Amt Values</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>USD_Payment_Amt_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Allocation_USD_Close_Amount__c</field>
            <value>
                <elementReference>USDOpptyReceivedAmt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Allocation_USD_Expected_Amount__c</field>
            <value>
                <elementReference>USDOpportunityExpectedAmt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Allocation_USD_Initial_Amount__c</field>
            <value>
                <elementReference>$Record.npsp__Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>USD_Payment_Amt_Values</name>
        <label>USD Payment Amt Values</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__Payment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Allocation_USD_Close_Amount__c</field>
            <value>
                <elementReference>USDPmtReceivedAmt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Allocation_USD_Expected_Amount__c</field>
            <value>
                <elementReference>USDPmtExpectedAmt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Allocation_USD_Initial_Amount__c</field>
            <value>
                <elementReference>$Record.npsp__Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Currency_Type</targetReference>
        </connector>
        <filterFormula>{!$Permission.Flow_Automations_Off}=FALSE</filterFormula>
        <object>npsp__Allocation__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1</triggerOrder>
</Flow>
