force-app/main/default/flows/GAU_Allocation_Create_Before_SAVE_Values.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>GAU_Allocation_Type</name>
        <label>GAU Allocation Type</label>
        <locationX>809</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Region_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npsp__Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Oppty_Campaign_Allocation</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
        <rules>
            <name>Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npsp__Payment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Pmt_Campaign_Allocation</targetReference>
            </connector>
            <label>Payment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Oppty_Campaign_Allocation_Found</name>
        <label>Oppty Campaign Allocation Found?</label>
        <locationX>248</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Region_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Oppty Campaign Allocation Not Found</defaultConnectorLabel>
        <rules>
            <name>Oppty_Allocation_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Oppty_Campaign_Allocation.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Custom_Values_Based_on_Oppty_Campaign_Allocation</targetReference>
            </connector>
            <label>Oppty Allocation Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pmt_Campaign_Allocation_Found</name>
        <label>Pmt Campaign Allocation Found?</label>
        <locationX>974</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Get_Pmt_Oppty_Allocation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pmt Allocation Not Found</defaultConnectorLabel>
        <rules>
            <name>Pmt_Allocation_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Pmt_Campaign_Allocation.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Custom_Values_Based_on_Pmt_Campaign_Allocation</targetReference>
            </connector>
            <label>Pmt Allocation Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Region_Populated</name>
        <label>Region Populated?</label>
        <locationX>446</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Get_General_Region_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Populated</defaultConnectorLabel>
        <rules>
            <name>Oppty_Allocation_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Oppty_Allocation</targetReference>
            </connector>
            <label>Oppty Allocation Populated</label>
        </rules>
    </decisions>
    <description>v3 Optimize flow per FB-1490</description>
    <environments>Default</environments>
    <formulas>
        <name>grantnameformula</name>
        <dataType>String</dataType>
        <expression>blankvalue({!$Record.npsp__Opportunity__r.Grant_Name__c}, {!$Record.Grant_Segment__c})</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>GAU Allocation Create Before SAVE Values {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GAU Allocation Create Before SAVE Values</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_General_Region_Record</name>
        <label>Get General Region Record</label>
        <locationX>578</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Populate_Region</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>General</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Region__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get custom fields from Campaign GAU Allocation to push to Opportunity Allocation</description>
        <name>get_Oppty_Campaign_Allocation</name>
        <label>get Oppty Campaign Allocation</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Oppty_Campaign_Allocation_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp__Opportunity__r.CampaignId</elementReference>
            </value>
        </filters>
        <filters>
            <field>npsp__General_Accounting_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp__General_Accounting_Unit__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npsp__Allocation__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Pmt_Campaign_Allocation</name>
        <label>get Pmt Campaign Allocation</label>
        <locationX>974</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pmt_Campaign_Allocation_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__General_Accounting_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp__General_Accounting_Unit__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>npsp__Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.CampaignId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npsp__Allocation__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pmt_Oppty_Allocation</name>
        <label>Get Pmt Oppty Allocation</label>
        <locationX>1106</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Pmt_Allocation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__General_Accounting_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp__General_Accounting_Unit__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>npsp__Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>npsp__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npsp__Allocation__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Populate_Region</name>
        <label>Populate Region</label>
        <locationX>578</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>Grant_Segment__c</field>
            <value>
                <elementReference>grantnameformula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>Get_General_Region_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Custom_Values_Based_on_Oppty_Campaign_Allocation</name>
        <label>Set Custom Values Based on Oppty Campaign Allocation</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>Grant_Segment__c</field>
            <value>
                <elementReference>get_Oppty_Campaign_Allocation.npsp__Opportunity__r.Grant_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>get_Oppty_Campaign_Allocation.Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Restriction__c</field>
            <value>
                <elementReference>get_Oppty_Campaign_Allocation.Restriction__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Custom_Values_Based_on_Pmt_Campaign_Allocation</name>
        <label>Set Custom Values Based on Pmt Campaign Allocation</label>
        <locationX>842</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>Grant_Segment__c</field>
            <value>
                <elementReference>get_Pmt_Campaign_Allocation.npsp__Payment__r.npe01__Opportunity__r.Grant_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>get_Pmt_Campaign_Allocation.Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Restriction__c</field>
            <value>
                <elementReference>get_Pmt_Campaign_Allocation.Restriction__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Oppty_Allocation</name>
        <label>Update Oppty Allocation</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>Grant_Segment__c</field>
            <value>
                <elementReference>grantnameformula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pmt_Allocation</name>
        <label>Update Pmt Allocation</label>
        <locationX>1106</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>Grant_Segment__c</field>
            <value>
                <elementReference>Get_Pmt_Oppty_Allocation.Grant_Segment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>Get_Pmt_Oppty_Allocation.Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Restriction__c</field>
            <value>
                <elementReference>Get_Pmt_Oppty_Allocation.Restriction__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>683</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GAU_Allocation_Type</targetReference>
        </connector>
        <filterFormula>{!$Permission.Flow_Automations_Off} &lt;&gt; TRUE</filterFormula>
        <object>npsp__Allocation__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>2</triggerOrder>
</Flow>
