force-app/main/default/flows/GAU_Allocation_After_Save_Update_Create_Ledger_Entries.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>DebitAmount</name>
        <dataType>Number</dataType>
        <expression>-{!$Record.npsp__Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>GAU Allocation (After Save/Update) -&gt; Create Ledger Entries {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GAU Allocation (After Save/Update) -&gt; Create Ledger Entries</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Credit_Ledger_Entry</name>
        <label>Create Credit Ledger Entry</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>GAU_Allocation_Restriction__c</field>
            <value>
                <elementReference>$Record.Restriction__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grant_Segment__c</field>
            <value>
                <elementReference>$Record.Grant_Segment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NS_Cash_Sale_Integration_DateTime__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NS_Cash_Sale_Integration_DateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NS_Cash_Sale_Integration_Status_Msg__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NS_Cash_Sale_Integration_Status_Msg__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NS_Cash_Sale_Integration_Status_code__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NS_Cash_Sale_Integration_Status_code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NS_Grant_Integration_DateTime__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NS_Grant_Integration_DateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NS_Grant_Integration_Status_Msg__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NS_Grant_Integration_Status_Msg__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NS_Grant_Integration_Status_code__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NS_Grant_Integration_Status_code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NS_Invoice_Integration_DateTime__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NS_Invoice_Integration_DateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NS_Invoice_Integration_Status_Msg__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NS_Invoice_Integration_Status_Msg__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NS_Invoice_Integration_Status_code__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NS_Invoice_Integration_Status_code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NS_Payment_Integration_DateTime__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.NS_Payment_Integration_DateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NS_Payment_Integration_Status_Msg__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.NS_Payment_Integration_Status_Msg__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NS_Payment_Integration_Status_code__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.NS_Payment_Integration_Status_code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NS_Pledge_Order_Integration_DateTime__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NS_Pledge_Order_Integration_DateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NS_Pledge_Order_Integration_Status_Msg__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NS_Pledge_Order_Integration_Status_Msg__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NS_Pledge_Order_Integration_Status_code__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NS_Pledge_Order_Integration_Status_code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NS_Projection_Integration_DateTime__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NS_Projection_Integration_DateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NS_Projection_Integration_Status_Msg__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NS_Projection_Integration_Status_Msg__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NS_Projection_Integration_Status_code__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NS_Projection_Integration_Status_code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NS_Reversal_J_E_Integration_DateTime__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.NS_Reversal_J_E_Integration_DateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NS_Reversal_J_E_Integration_Status_Msg__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.NS_Reversal_J_E_Integration_Status_Msg__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NS_Reversal_J_E_Integration_Status_code__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.NS_Reversal_J_E_Integration_Status_code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NetSuite_Bank_Account__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NetSuite_Bank_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NetSuite_Cash_Sale_ID__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NetSuite_Cash_Sale_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NetSuite_Cash_Sale__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NetSuite_Cash_Sale__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NetSuite_External_ID__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NetSuite_External_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NetSuite_Grant_ID__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NetSuite_Grant_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NetSuite_Grant__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NetSuite_Grant__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NetSuite_Invoice_ID__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NetSuite_Invoice_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NetSuite_Invoice__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NetSuite_Invoice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NetSuite_Original_Cash_Sale_ID__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NetSuite_Original_Cash_Sale_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NetSuite_Payment_ID__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.NetSuite_Payment_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NetSuite_Payment__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.NetSuite_Payment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NetSuite_Pledge_Order_ID__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NetSuite_Pledge_Order_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NetSuite_Pledge_Order__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NetSuite_Pledge_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NetSuite_Projection_ID__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NetSuite_Projection_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NetSuite_Projection__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NetSuite_Projection__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NetSuite_Reversal_J_E_ID__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.NetSuite_Reversal_J_E_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NetSuite_Reversal_J_E__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.NetSuite_Reversal_J_E__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Natural_Code__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.Natural_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Refund_Type__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.Refund_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>$Record.Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>abacus__Adjustment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>abacus__Amount__c</field>
            <value>
                <elementReference>$Record.npsp__Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>abacus__Credit_Amount__c</field>
            <value>
                <elementReference>$Record.npsp__Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>abacus__Debit_Credit__c</field>
            <value>
                <stringValue>Credit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>abacus__Fund_Id__c</field>
            <value>
                <elementReference>$Record.npsp__General_Accounting_Unit__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>abacus__GL_Code__c</field>
            <value>
                <elementReference>$Record.npsp__General_Accounting_Unit__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>abacus__General_Accounting_Unit__c</field>
            <value>
                <elementReference>$Record.npsp__General_Accounting_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>abacus__Opportunity__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>abacus__Payment__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>abacus__Posting_Status__c</field>
            <value>
                <stringValue>Entered</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>abacus__Primary_Object_Id__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>abacus__Secondary_Object_Id__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>abacus__Transaction_Date__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Payment_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>abacus__Type__c</field>
            <value>
                <stringValue>Payment</stringValue>
            </value>
        </inputAssignments>
        <object>abacus__Ledger_Entry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Debit_Ledger_Entry</name>
        <label>Create Debit Ledger Entry</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Create_Credit_Ledger_Entry</targetReference>
        </connector>
        <inputAssignments>
            <field>GAU_Allocation_Restriction__c</field>
            <value>
                <elementReference>$Record__Prior.Restriction__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grant_Segment__c</field>
            <value>
                <elementReference>$Record.Grant_Segment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NS_Cash_Sale_Integration_DateTime__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NS_Cash_Sale_Integration_DateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NS_Cash_Sale_Integration_Status_Msg__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NS_Cash_Sale_Integration_Status_Msg__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NS_Cash_Sale_Integration_Status_code__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NS_Cash_Sale_Integration_Status_code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NS_Grant_Integration_DateTime__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NS_Grant_Integration_DateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NS_Grant_Integration_Status_Msg__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NS_Grant_Integration_Status_Msg__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NS_Grant_Integration_Status_code__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NS_Grant_Integration_Status_code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NS_Invoice_Integration_DateTime__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NS_Invoice_Integration_DateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NS_Invoice_Integration_Status_Msg__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NS_Invoice_Integration_Status_Msg__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NS_Invoice_Integration_Status_code__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NS_Invoice_Integration_Status_code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NS_Payment_Integration_DateTime__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.NS_Payment_Integration_DateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NS_Payment_Integration_Status_Msg__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.NS_Payment_Integration_Status_Msg__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NS_Payment_Integration_Status_code__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.NS_Payment_Integration_Status_code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NS_Pledge_Order_Integration_DateTime__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NS_Pledge_Order_Integration_DateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NS_Pledge_Order_Integration_Status_Msg__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NS_Pledge_Order_Integration_Status_Msg__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NS_Pledge_Order_Integration_Status_code__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NS_Pledge_Order_Integration_Status_code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NS_Projection_Integration_DateTime__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NS_Projection_Integration_DateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NS_Projection_Integration_Status_Msg__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NS_Projection_Integration_Status_Msg__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NS_Projection_Integration_Status_code__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NS_Projection_Integration_Status_code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NS_Reversal_J_E_Integration_DateTime__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.NS_Reversal_J_E_Integration_DateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NS_Reversal_J_E_Integration_Status_Msg__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.NS_Reversal_J_E_Integration_Status_Msg__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NS_Reversal_J_E_Integration_Status_code__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.NS_Reversal_J_E_Integration_Status_code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NetSuite_Bank_Account__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NetSuite_Bank_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NetSuite_Cash_Sale_ID__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NetSuite_Cash_Sale_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NetSuite_Cash_Sale__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NetSuite_Cash_Sale__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NetSuite_External_ID__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NetSuite_External_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NetSuite_Grant_ID__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NetSuite_Grant_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NetSuite_Grant__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NetSuite_Grant__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NetSuite_Invoice_ID__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NetSuite_Invoice_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NetSuite_Invoice__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NetSuite_Invoice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NetSuite_Original_Cash_Sale_ID__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NetSuite_Original_Cash_Sale_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NetSuite_Payment_ID__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.NetSuite_Payment_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NetSuite_Payment__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.NetSuite_Payment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NetSuite_Pledge_Order_ID__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NetSuite_Pledge_Order_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NetSuite_Pledge_Order__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NetSuite_Pledge_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NetSuite_Projection_ID__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NetSuite_Projection_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NetSuite_Projection__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.NetSuite_Projection__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NetSuite_Reversal_J_E_ID__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.NetSuite_Reversal_J_E_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NetSuite_Reversal_J_E__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.NetSuite_Reversal_J_E__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Natural_Code__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.Natural_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Refund_Type__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.Refund_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>$Record__Prior.Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>abacus__Adjustment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>abacus__Amount__c</field>
            <value>
                <elementReference>$Record.npsp__Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>abacus__Debit_Amount__c</field>
            <value>
                <elementReference>$Record.npsp__Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>abacus__Debit_Credit__c</field>
            <value>
                <stringValue>Debit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>abacus__Fund_Id__c</field>
            <value>
                <elementReference>$Record.npsp__General_Accounting_Unit__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>abacus__GL_Code__c</field>
            <value>
                <elementReference>$Record.npsp__General_Accounting_Unit__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>abacus__General_Accounting_Unit__c</field>
            <value>
                <elementReference>$Record.npsp__General_Accounting_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>abacus__Opportunity__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>abacus__Payment__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>abacus__Posting_Status__c</field>
            <value>
                <stringValue>Entered</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>abacus__Primary_Object_Id__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>abacus__Secondary_Object_Id__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>abacus__Transaction_Date__c</field>
            <value>
                <elementReference>$Record.npsp__Payment__r.npe01__Payment_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>abacus__Type__c</field>
            <value>
                <stringValue>Payment</stringValue>
            </value>
        </inputAssignments>
        <object>abacus__Ledger_Entry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Debit_Ledger_Entry</targetReference>
        </connector>
        <filterFormula>{!$Permission.Flow_Automations_Off} &lt;&gt; TRUE
&amp;&amp;
not(isblank({!$Record.npsp__Payment__c}))
&amp;&amp;
{!$Record.npsp__Payment__r.npe01__Opportunity__r.Posted__c} = TRUE
&amp;&amp;
(ischanged({!$Record.Region__c}) || ischanged({!$Record.Restriction__c}))
&amp;&amp;
not(ischanged({!$Record.npsp__General_Accounting_Unit__c}))
&amp;&amp;
not(ischanged({!$Record.npsp__Amount__c}))</filterFormula>
        <object>npsp__Allocation__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>3</triggerOrder>
</Flow>
