force-app/main/default/flows/Host_Application_Send_Email_to_Respondent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Respondent_and_RM</name>
        <label>Send Email to Respondent and RM</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <actionName>Host_Application__c.Host_Application_Reviewed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Task_on_Host_Application_with_Email_Body</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Is_Direct_Supervisor_Populated</name>
        <label>Is Direct Supervisor Populated</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>is_high_level_spon</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Supervisor__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateTaskwithWhoIDs_0_0_0</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_high_level_spon</name>
        <label>Is High Level Sponsor Populated</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>is_high_level_spon_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.High_Level_Sponsor__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.High_Level_Sponsor__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Supervisor__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateTaskwithWhoIDs_0_0</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_high_level_spon_0</name>
        <label>Is HR Contact Populated</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HR_Contact__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HR_Contact__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Supervisor__r.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HR_Contact__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.High_Level_Sponsor__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateTaskwithWhoIDs_0_0_0_0</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>Triggers when stage is updated to reviewed and accepted. US Only. Sends email to high level sponsor, direct supervisor, and HR contact and creates associated task tied to all contacts and account.</description>
    <environments>Default</environments>
    <formulas>
        <name>Date</name>
        <dataType>Date</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Host Application - Send Email to Respondent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Host Application - Send Email to Respondent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_on_Host_Application_with_Email_Body</name>
        <label>Create Task on Host Application with Email Body</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignRecordIdToReference>createdtaskID</assignRecordIdToReference>
        <connector>
            <targetReference>Is_Direct_Supervisor_Populated</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Constituency__c</field>
            <value>
                <stringValue>EDFBIZ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Completion_Date__c</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>messageBodyforTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solicitor_1__c</field>
            <value>
                <stringValue>Mali’o Kodis</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Constituency__c</field>
            <value>
                <stringValue>EDFBIZ - Climate Corps</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Email: Thank you for Submitting a Climate Corps Host Application</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>UpdateTaskwithWhoIDs_0_0</name>
        <label>UpdateTaskwithWhoIDs</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>is_high_level_spon_0</targetReference>
        </connector>
        <inputAssignments>
            <field>IsWhat</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelationId</field>
            <value>
                <elementReference>$Record.High_Level_Sponsor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskId</field>
            <value>
                <elementReference>createdtaskID</elementReference>
            </value>
        </inputAssignments>
        <object>TaskRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>UpdateTaskwithWhoIDs_0_0_0</name>
        <label>UpdateTaskwithWhoIDs</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>is_high_level_spon</targetReference>
        </connector>
        <inputAssignments>
            <field>IsWhat</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelationId</field>
            <value>
                <elementReference>$Record.Supervisor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskId</field>
            <value>
                <elementReference>createdtaskID</elementReference>
            </value>
        </inputAssignments>
        <object>TaskRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>UpdateTaskwithWhoIDs_0_0_0_0</name>
        <label>UpdateTaskwithWhoIDs</label>
        <locationX>50</locationX>
        <locationY>1367</locationY>
        <inputAssignments>
            <field>IsWhat</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelationId</field>
            <value>
                <elementReference>$Record.HR_Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskId</field>
            <value>
                <elementReference>createdtaskID</elementReference>
            </value>
        </inputAssignments>
        <object>TaskRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Email_to_Respondent_and_RM</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>{!$Permission.Flow_Automations_Off} &lt;&gt; True
&amp;&amp; 
ispickval({!$Record.Stage__c}, &quot;Reviewed and Accepted&quot;)
&amp;&amp;
ispickval({!$Record.Fellowship_Program__c}, &quot;U.S. Fellowship&quot;)</filterFormula>
        <object>Host_Application__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>messageBodyforTask</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Thanks so much for submitting an application to host a Climate Corps fellow. If we have questions about your application, we will follow up shortly. You’ll receive confirmation of your participation in the program by late February.

Please do not hesitate to reach out to me if you have any questions.

Best,
Mali&apos;o Kodis
Project Manager, Host Recruitment</text>
    </textTemplates>
    <variables>
        <name>createdtaskID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
