force-app/main/default/flows/Household_Account_Deceased_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Is_Contact_Deceased</name>
        <label>Is Contact Deceased?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Update_HH_Account_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Deceased</defaultConnectorLabel>
        <rules>
            <name>Deceased</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npsp__Deceased__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_HH_Account</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Deceased</label>
        </rules>
    </decisions>
    <description>This flow fires when a Contact within a Household is marked Deceased. Gets Household Account and Updates Checkbox.
v2 Optimize flow per FB-1490
v3 Set run order</description>
    <environments>Default</environments>
    <interviewLabel>Household Account Deceased Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Household Account Deceased Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Contact_Record_0</name>
        <label>Update Contact Record</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>npsp__Exclude_from_Household_Formal_Greeting__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Exclude_from_Household_Informal_Greeting__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Exclude_from_Household_Name__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_HH_Account</name>
        <label>Update HH Account</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Household_Member_Deceased__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_HH_Account_0_0</name>
        <label>Update HH Account</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Update_Contact_Record_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Household_Member_Deceased__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Contact_Deceased</targetReference>
        </connector>
        <filterFormula>{!$Permission.Flow_Automations_Off} &lt;&gt; TRUE
&amp;&amp;
( 
({!$Record__Prior.npsp__Deceased__c} = FALSE &amp;&amp; {!$Record.npsp__Deceased__c} = TRUE)
||
({!$Record__Prior.npsp__Deceased__c} = TRUE &amp;&amp; {!$Record.npsp__Deceased__c} = FALSE)
)</filterFormula>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>7</triggerOrder>
</Flow>
