force-app/main/default/flows/NPSP_Data_Import_After_Update_Create_Staging_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_Staging_Values</name>
        <label>Set Staging Values</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Staging.Donation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.npsp__DonationImported__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Staging.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Staging.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.npsp__DonationImported__r.Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Staging.NPSP_Data_Import__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Staging.Entity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Entity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Contact_Switcher</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Staging_Values_0</name>
        <label>Set Staging Values</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Staging.Constituency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.npsp__DonationImported__r.Account.Organization_Constituency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Staging.Sub_Constituency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.npsp__DonationImported__r.Account.Organization_sub_constituency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Staging.Relationship_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.npsp__DonationImported__r.Account.Account_Primary_Handler__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Staging.Organization_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.npsp__DonationImported__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Staging_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Staging_Values_0_0</name>
        <label>Set Staging Values</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Staging.Constituency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.npsp__DonationImported__r.npsp__Primary_Contact__r.Constituency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Staging.Sub_Constituency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.npsp__DonationImported__r.npsp__Primary_Contact__r.Sub_Constituency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Staging.Relationship_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.npsp__DonationImported__r.npsp__Primary_Contact__r.Primary_Handler__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Staging.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.npsp__DonationImported__r.npsp__Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Staging_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Contact_Switcher</name>
        <label>Account/Contact Switcher</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assign_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npsp__DonationImported__r.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__DonationImported__r.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Organization</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Staging_Values_0</targetReference>
            </connector>
            <label>Assign Account</label>
        </rules>
        <rules>
            <name>Assign_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npsp__DonationImported__r.npsp__Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Staging_Values_0_0</targetReference>
            </connector>
            <label>Assign Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remove_Dual_Constituency_from_Staging_Decision</name>
        <label>Remove Dual Constituency from Staging</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Set_Staging_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Membership</defaultConnectorLabel>
        <rules>
            <name>Membership</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npsp__DonationImported__r.npsp__Primary_Contact__r.Constituency__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Membership</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__DonationImported__r.Account.Organization_Constituency__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Membership</stringValue>
                </rightValue>
            </conditions>
            <label>Membership</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Staging_Record_Be_Created</name>
        <label>Should Staging Record Be Created?</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Don&apos;t Create Record</defaultConnectorLabel>
        <rules>
            <name>Create_Staging_Record</name>
            <conditionLogic>1 AND 2 AND ((3 AND 4) OR (5 AND 6))</conditionLogic>
            <conditions>
                <leftValueReference>getExistingStagingRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__DonationImported__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__DonationImported__r.npsp__Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__DonationImported__r.npsp__Primary_Contact__r.Constituency__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Development</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__DonationImported__r.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__DonationImported__r.Account.Organization_Constituency__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Development</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Dual_Constituency_from_Staging_Decision</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Create Staging Record</label>
        </rules>
    </decisions>
    <description>Remove Dual Constituency per FB-1539
v4 Optimize flow per FB-1490</description>
    <environments>Default</environments>
    <interviewLabel>NPSP Data Import: (After Update --&gt; Create Staging Record) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NPSP Data Import: (After Update --&gt; Create Staging Record)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Staging_Record</name>
        <label>Insert Staging Record</label>
        <locationX>314</locationX>
        <locationY>1151</locationY>
        <inputReference>Staging</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getExistingStagingRecord</name>
        <label>getExistingStagingRecord</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Should_Staging_Record_Be_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp__DonationImported__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Staging__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getExistingStagingRecord</targetReference>
        </connector>
        <filterFormula>{!$Permission.Flow_Automations_Off} &lt;&gt; TRUE
&amp;&amp;
ischanged({!$Record.npsp__Status__c})
&amp;&amp;
ispickval({!$Record.npsp__Status__c}, &quot;Imported&quot;)</filterFormula>
        <object>npsp__DataImport__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Staging</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Staging__c</objectType>
    </variables>
</Flow>
