force-app/main/default/flows/Opportunity_Create_BEFORE_SAVE_Amount_Values.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Created_as_Received</name>
        <label>Created as Received?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Exchange_Rate_Open</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Created Open</defaultConnectorLabel>
        <rules>
            <name>Created_Received</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Received as Unconditional Pledge</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Received as Conditional Pledge</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Exchange_Rate_Closed</targetReference>
            </connector>
            <label>Created Received</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluate what the Currency Type is</description>
        <name>Is_Currency_Type_USD</name>
        <label>Is Currency Type USD?</label>
        <locationX>380</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>USD_Update_Initial_and_Expected_Amounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Currency Type Is USD</defaultConnectorLabel>
        <rules>
            <name>Currency_Type_Is_USD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Currency_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>USD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_as_Received</targetReference>
            </connector>
            <label>Currency Type Is Not USD</label>
        </rules>
    </decisions>
    <description>Multi Currency Flow 1 - Populates Initial Amount, Expected Amount, and Close Amount fields in USD and factors in Multi Currency Exchange Rates when Currency Type is not USD when Opportunity is first Created. Other Multi Currency Flows will fail if Exchange Rates are not set on Opportunity before save (optimized)</description>
    <environments>Default</environments>
    <formulas>
        <name>MCAmount</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Amount}*{!Get_Exchange_Rate_Open.Exchange_Rate__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>MCExpectedAmount</name>
        <dataType>Currency</dataType>
        <expression>({!$Record.Amount}*{!Get_Exchange_Rate_Open.Exchange_Rate__c})*{!$Record.Probability}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>USDExpectedAmount</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Amount}*{!$Record.Probability}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Opportunity Create BEFORE SAVE Amount Values {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Create BEFORE SAVE Amount Values</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Exchange_Rate_Closed</name>
        <label>Get Exchange Rate Closed</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MC_Update_Close_Amounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Effective_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Currency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Currency_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Exchange_Rate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>locate the Exchange Rate record for this Opportunity</description>
        <name>Get_Exchange_Rate_Open</name>
        <label>Get Exchange Rate Open</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MC_Open_Update_Initial_and_Expected_Amounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Currency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Currency_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Effective_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Exchange_Rate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>MC_Open_Update_Initial_and_Expected_Amounts</name>
        <label>MC Open Update Initial and Expected Amounts</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>Development_Expected_Value__c</field>
            <value>
                <elementReference>MCExpectedAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Ask_Amount__c</field>
            <value>
                <elementReference>MCAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Exchange_Rate__c</field>
            <value>
                <elementReference>Get_Exchange_Rate_Open.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Expected_Value__c</field>
            <value>
                <elementReference>MCExpectedAmount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>MC_Update_Close_Amounts</name>
        <label>MC Update Close Amounts</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>Close_Amount__c</field>
            <value>
                <elementReference>MCAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Close_Exchange_Rate__c</field>
            <value>
                <elementReference>Get_Exchange_Rate_Closed.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Development_Expected_Value__c</field>
            <value>
                <elementReference>MCAmount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates Close Amount field when Opportunity is updated to Received, not created as Received</description>
        <name>USD_Update_Close_Amount_0</name>
        <label>USD Update Close Amount</label>
        <locationX>578</locationX>
        <locationY>551</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Received</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Received as Unconditional Pledge</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Received as Conditional Pledge</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Close_Amount__c</field>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>USD_Update_Initial_and_Expected_Amounts</name>
        <label>USD Update Initial and Expected Amounts</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>USD_Update_Close_Amount_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Development_Expected_Value__c</field>
            <value>
                <elementReference>USDExpectedAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Ask_Amount__c</field>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Expected_Value__c</field>
            <value>
                <elementReference>USDExpectedAmount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Currency_Type_USD</targetReference>
        </connector>
        <filterFormula>AND(
{!$Permission.Flow_Automations_Off}=FALSE,
{!$Record.Amount}&lt;&gt;0,
{!$Record.RecordType.DeveloperName}&lt;&gt; &quot;InKindGift&quot;)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1</triggerOrder>
</Flow>
