force-app/main/default/flows/Opportunity_After_Save_create_Action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Create_Action_Record_Assignment</name>
        <label>Create Action Record Assignment</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>ActionAssignment.Action_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Action_Code_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionAssignment.Campaign_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CampaignId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionAssignment.Action_Response_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionAssignment.Donor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionAssignment.Package_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Campaign.Series__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionAssignment.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionAssignment.Response_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Response_Channel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionAssignment.Processed_Through__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Processed_through__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionAssignment.Processed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Processed_By__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Action_Record</targetReference>
        </connector>
    </assignments>
    <description>This flow fires when an Opportunity is created or updates and Action Batch lookup field is populated, it will auto-create the associated action record.</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity After Save ----&gt; create Action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity After Save ----&gt; create Action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Action_Record</name>
        <label>Create Action Record</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <inputReference>ActionAssignment</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Action_Code_Record</name>
        <label>Get Action Code Record</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Action_Record_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Action_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Action_Code__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Action_Code_Record</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Action_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>3</triggerOrder>
    <variables>
        <name>ActionAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Action__c</objectType>
    </variables>
</Flow>
