force-app/main/default/flows/Opportunity_After_Save_create_Funder_Soft_Credit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>AddCollection</name>
        <label>AddCollection</label>
        <locationX>264</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>UpdatePartialCreditsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Credits</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Credits</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Soft_Credit_Assignment</name>
        <label>Soft Credit Assignment</label>
        <locationX>264</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>Loop_Credits.npsp__Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SoftCreditAmountFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Credits.Opportunity_Values_Changed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Close_Amount_Is_Changed</name>
        <label>Close Amount Is Changed</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Close_Amount__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Close_Amount__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Close_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Close_Amount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Partial_Soft_Credits</targetReference>
            </connector>
            <label>Close Amount Changed or Null</label>
        </rules>
        <rules>
            <name>CloseDate_or_Stage_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CloseDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CloseDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Currency_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Currency_Type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Partial_Soft_Credits</targetReference>
            </connector>
            <label>CloseDate, Stage, or Currency Changed</label>
        </rules>
    </decisions>
    <description>When Close Amount is changed then loop Partial Soft Credits to keep amount aligned.
Updated per FB-1450</description>
    <environments>Default</environments>
    <formulas>
        <name>SoftCreditAmountFormula</name>
        <dataType>Number</dataType>
        <expression>if (({!$Record.Close_Amount__c} = 0 || isblank({!$Record.Close_Amount__c})), {!$Record.Amount}, 
{!$Record.Close_Amount__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Opportunity After Save ---&gt; create Funder Soft Credit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity After Save ---&gt; Update Partial Soft Credits</label>
    <loops>
        <name>Loop_Credits</name>
        <label>Loop Credits</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <collectionReference>Get_Partial_Soft_Credits</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Soft_Credit_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateCreditCollection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Partial_Soft_Credits</name>
        <label>Get Partial Soft Credits</label>
        <locationX>176</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Credits</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>npsp__Partial_Soft_Credit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCreditCollection</name>
        <label>UpdateCreditCollection</label>
        <locationX>176</locationX>
        <locationY>1247</locationY>
        <inputReference>UpdatePartialCreditsCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Close_Amount_Is_Changed</targetReference>
        </connector>
        <filterFormula>{!$Permission.Flow_Automations_Off} &lt;&gt; TRUE</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>2</triggerOrder>
    <variables>
        <name>SoftCreditRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npsp__Partial_Soft_Credit__c</objectType>
    </variables>
    <variables>
        <name>UpdatePartialCreditsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npsp__Partial_Soft_Credit__c</objectType>
    </variables>
</Flow>
