force-app/main/default/flows/Payment_AFTER_SAVE_Amount_Values.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>addPmtAllocationsMC</name>
        <label>addPmtAllocationsMC</label>
        <locationX>138</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>UpdatedMCPmtAllocationsInitialandPaid</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopPmtAllocations_MC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopPmtAllocations_MC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addPmtAllocationUSD</name>
        <label>addPmtAllocationUSD</label>
        <locationX>754</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>UpdatedCollectionPmtAllocationforUSDAmountFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopPmtAllocationsUSD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopPmtAllocationsUSD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignMCPmtAllocationValues</name>
        <label>assignMCPmtAllocationValues</label>
        <locationX>138</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>loopPmtAllocations_MC.Allocation_USD_Expected_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MCPmtAllocationExpectedAmt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopPmtAllocations_MC.Allocation_USD_Close_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MCPmtAllocationRecievedAmt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addPmtAllocationsMC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignUSDPmtAllocationValues</name>
        <label>assignUSDPmtAllocationValues</label>
        <locationX>754</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>loopPmtAllocationsUSD.Allocation_USD_Expected_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>USDPmtAllocationExpectedAmt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopPmtAllocationsUSD.Allocation_USD_Close_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>USDPmtAllocationRecievedAmt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addPmtAllocationUSD</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Have_Exchange_Rates</name>
        <label>Have Exchange Rates?</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Not Populated</defaultConnectorLabel>
        <rules>
            <name>Exchange_Rates_Populated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe01__Opportunity__r.Close_Exchange_Rate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__Opportunity__r.Initial_Exchange_Rate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MC_Paid_Amt</targetReference>
            </connector>
            <label>Exchange Rates Populated</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluate what the Currency Type is</description>
        <name>Is_Currency_Type_USD</name>
        <label>Is Currency Type USD?</label>
        <locationX>424</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>USD_Paid_Amount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Currency Type Is USD</defaultConnectorLabel>
        <rules>
            <name>Currency_Type_Is_USD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe01__Opportunity__r.Currency_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>USD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Have_Exchange_Rates</targetReference>
            </connector>
            <label>Currency Type Not USD</label>
        </rules>
    </decisions>
    <description>Multi Currency Flow 4 - new optimized version when a Payment is created or updated, update Payment Value fields and push updates to Payment Allocations</description>
    <environments>Default</environments>
    <formulas>
        <name>MCPaidAmt</name>
        <dataType>Currency</dataType>
        <expression>IF(
   AND(
   NOT(ISBLANK({!$Record.npe01__Opportunity__r.Close_Exchange_Rate__c})),
  {!$Record.npe01__Paid__c}=TRUE
    ),
{!$Record.npe01__Payment_Amount__c}*{!$Record.npe01__Opportunity__r.Close_Exchange_Rate__r.Exchange_Rate__c},
null
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>MCPmtAllocationExpectedAmt</name>
        <dataType>Currency</dataType>
        <expression>IF(
NOT(ISBLANK({!loopPmtAllocations_MC.npsp__Payment__r.npe01__Opportunity__r.Initial_Exchange_Rate__c})),
{!loopPmtAllocations_MC.npsp__Amount__c}*{!loopPmtAllocations_MC.npsp__Payment__r.npe01__Opportunity__r.Initial_Exchange_Rate__r.Exchange_Rate__c}*{!loopPmtAllocations_MC.npsp__Payment__r.npe01__Opportunity__r.Probability},
null
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>MCPmtAllocationRecievedAmt</name>
        <dataType>Currency</dataType>
        <expression>IF(
  AND(
          {!loopPmtAllocations_MC.npsp__Payment__r.npe01__Paid__c}=TRUE,
          NOT(ISBLANK({!loopPmtAllocations_MC.npsp__Payment__r.npe01__Opportunity__r.Close_Exchange_Rate__c}))
          ),{!loopPmtAllocations_MC.npsp__Amount__c}*{!loopPmtAllocations_MC.npsp__Payment__r.npe01__Opportunity__r.Close_Exchange_Rate__r.Exchange_Rate__c},
    null
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>USDPmtAllocationExpectedAmt</name>
        <dataType>Currency</dataType>
        <expression>{!loopPmtAllocationsUSD.npsp__Amount__c}*{!loopPmtAllocationsUSD.npsp__Payment__r.npe01__Opportunity__r.Probability}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>USDPmtAllocationRecievedAmt</name>
        <dataType>Currency</dataType>
        <expression>IF(
   {!loopPmtAllocationsUSD.npsp__Payment__r.npe01__Paid__c}=TRUE,
  {!loopPmtAllocationsUSD.npsp__Amount__c},
    null
)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Payment AFTER SAVE Amount Values {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment AFTER SAVE Amount Values</label>
    <loops>
        <name>loopPmtAllocations_MC</name>
        <label>loopPmtAllocations MC</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <collectionReference>getPaymentAllocations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignMCPmtAllocationValues</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateMCAllocationValues</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopPmtAllocationsUSD</name>
        <label>loopPmtAllocationsUSD</label>
        <locationX>666</locationX>
        <locationY>695</locationY>
        <collectionReference>getPaymentAllocations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignUSDPmtAllocationValues</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateUSDAllocationValues</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getPaymentAllocations</name>
        <label>getPaymentAllocations</label>
        <locationX>424</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Currency_Type_USD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__Payment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>npsp__Allocation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>MC_Paid_Amt</name>
        <label>MC Paid Amt</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>loopPmtAllocations_MC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe01__Paid__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Paid_Amount__c</field>
            <value>
                <elementReference>MCPaidAmt</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateMCAllocationValues</name>
        <label>updateMCAllocationAmts</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <inputReference>UpdatedMCPmtAllocationsInitialandPaid</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateUSDAllocationValues</name>
        <label>updateUSDAllocationValues</label>
        <locationX>666</locationX>
        <locationY>1151</locationY>
        <inputReference>UpdatedCollectionPmtAllocationforUSDAmountFields</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>USD_Paid_Amount</name>
        <label>USD Paid Amount</label>
        <locationX>666</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>loopPmtAllocationsUSD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe01__Paid__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Paid_Amount__c</field>
            <value>
                <elementReference>$Record.npe01__Payment_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>298</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getPaymentAllocations</targetReference>
        </connector>
        <filterFormula>AND(
{!$Permission.Flow_Automations_Off}=FALSE,
{!$Record.npe01__Payment_Amount__c}&gt;=0)</filterFormula>
        <object>npe01__OppPayment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1</triggerOrder>
    <variables>
        <name>UpdatedCollectionMCGAUsforCloseAmount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npsp__Allocation__c</objectType>
    </variables>
    <variables>
        <name>updatedCollectionMCPmtAllocationUnpaid</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npsp__Allocation__c</objectType>
    </variables>
    <variables>
        <name>UpdatedCollectionPmtAllocationforUSDAmountFields</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npsp__Allocation__c</objectType>
    </variables>
    <variables>
        <name>UpdatedCollectionPmtAllocationUSDExpected</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npsp__Allocation__c</objectType>
    </variables>
    <variables>
        <name>UpdatedMCPmtAllocationsInitialandPaid</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npsp__Allocation__c</objectType>
    </variables>
</Flow>
