force-app/main/default/flows/Phone_Record_Triggered_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_to_Updated_Collection</name>
        <label>Add to Updated Collection</label>
        <locationX>798</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>UpdatedPhoneRecCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Update_Contact_Emails_Primary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_Emails_Primary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_to_Updated_Collection</name>
        <label>Add to Updated Collection</label>
        <locationX>4197</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>UpdatedPhoneRecCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Update_Contact_Emails_Primary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Contact_Emails_Primary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Update_Primary</name>
        <label>Update Primary</label>
        <locationX>4197</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>Copy_1_of_Update_Contact_Emails_Primary.Primary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Copy_1_of_Update_Contact_Emails_Primary.Automation_Bypass_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NowFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Copy_1_of_Update_Contact_Emails_Primary.Sys_Mod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_to_Updated_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Primary</name>
        <label>Update Primary</label>
        <locationX>798</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>Update_Contact_Emails_Primary.Primary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Contact_Emails_Primary.Automation_Bypass_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NowFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Contact_Emails_Primary.Sys_Mod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Updated_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Compare_to_Contact</name>
        <label>Compare to Contact</label>
        <locationX>3284</locationX>
        <locationY>2303</locationY>
        <defaultConnector>
            <targetReference>Phone_Type_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match/Not Primary</defaultConnectorLabel>
        <rules>
            <name>Matches_and_or_Primary</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6) OR (7 AND 8 AND 9 AND 10) OR 11</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Most_Recent_Current.Phone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Donor__r.HomePhone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Most_Recent_Current.Phone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Donor__r.npe01__WorkPhone__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Most_Recent_Current.Phone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Donor__r.MobilePhone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Mobile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Most_Recent_Current.Phone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Donor__r.OtherPhone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <label>Matches and/or Primary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Phone_Type</name>
        <label>Phone Type?</label>
        <locationX>4109</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Update_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Home</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Contact</targetReference>
            </connector>
            <label>Home</label>
        </rules>
        <rules>
            <name>Copy_2_of_Work</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Update_Contact</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Copy_2_of_Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Update_Contact</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New</name>
        <label>Is New?</label>
        <locationX>3069</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Set_Bypass_Date_Time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Start</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Newest</name>
        <label>Is Newest</label>
        <locationX>5000</locationX>
        <locationY>2303</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Newest</defaultConnectorLabel>
        <rules>
            <name>Yes_Newest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Copy_1_of_Get_Most_Recent_Current.CreatedDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phone_Type_0_0</targetReference>
            </connector>
            <label>Yes, Newest</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Primary_Current</name>
        <label>Is Primary/Current</label>
        <locationX>1700</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>No P/C</defaultConnectorLabel>
        <rules>
            <name>Yes_P_C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Current</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phone_Type</targetReference>
            </connector>
            <label>Yes P/C</label>
        </rules>
        <rules>
            <name>No_P_Yes_C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Current</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_Primary</targetReference>
            </connector>
            <label>No P/Yes C</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matches_Current_Primary</name>
        <label>Matches Current Primary?</label>
        <locationX>1700</locationX>
        <locationY>1175</locationY>
        <defaultConnector>
            <targetReference>Phone_Type_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Same</defaultConnectorLabel>
        <rules>
            <name>Yes_Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Current_Primary.Type__c</elementReference>
                </rightValue>
            </conditions>
            <label>Yes, Same</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_Type</name>
        <label>Phone Type?</label>
        <locationX>710</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_4a</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Home</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_1a</targetReference>
            </connector>
            <label>Home</label>
        </rules>
        <rules>
            <name>Work</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_2a</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_3a</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_Type_0</name>
        <label>Phone Type?</label>
        <locationX>3614</locationX>
        <locationY>2423</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_4b</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Home_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_1b</targetReference>
            </connector>
            <label>Home</label>
        </rules>
        <rules>
            <name>Work_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_2b</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Mobile_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_3b</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_Type_0_0</name>
        <label>Phone Type?</label>
        <locationX>4670</locationX>
        <locationY>2423</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_Other_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Home_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Home_Phone</targetReference>
            </connector>
            <label>Home</label>
        </rules>
        <rules>
            <name>Work_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Work_Phone</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Mobile_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Mobile_Phone</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_Type_Decision</name>
        <label>Phone Type?</label>
        <locationX>2030</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_Contact_4a</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Home</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Contact_1a</targetReference>
            </connector>
            <label>Home</label>
        </rules>
        <rules>
            <name>Copy_1_of_Work</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Contact_2a</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Copy_1_of_Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Contact_3a</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_Changed_to_TRUE</name>
        <label>Primary Changed to TRUE?</label>
        <locationX>4439</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Status_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Changed</defaultConnectorLabel>
        <rules>
            <name>Yes_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Phone_Type</targetReference>
            </connector>
            <label>Yes, Changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Skips flow based on Permissions.</description>
        <name>Skip_Flow</name>
        <label>Skip Flow</label>
        <locationX>1559</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Get_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Run</defaultConnectorLabel>
        <rules>
            <name>Skip</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Flow_Automations_Off</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sys_Mod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Sys_Mod</targetReference>
            </connector>
            <label>Skip</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Changed</name>
        <label>Status Changed?</label>
        <locationX>4439</locationX>
        <locationY>2063</locationY>
        <defaultConnectorLabel>Fault</defaultConnectorLabel>
        <rules>
            <name>Now_Undeliverable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Undeliverable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Current</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Most_Recent_Current</targetReference>
            </connector>
            <label>Now Undeliverable</label>
        </rules>
        <rules>
            <name>Now_Current</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Current</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Undeliverable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Most_Recent_Current</targetReference>
            </connector>
            <label>Now Current</label>
        </rules>
    </decisions>
    <description>Updates Contact and Phone records when a Phone record is created/updated.</description>
    <environments>Default</environments>
    <formulas>
        <name>NowFormula</name>
        <dataType>DateTime</dataType>
        <expression>Now ()</expression>
    </formulas>
    <formulas>
        <description>Returns today&apos;s date.</description>
        <name>TodaysDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <interviewLabel>Phone Record Triggered Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Phone Record Triggered Updates</label>
    <loops>
        <name>Copy_1_of_Update_Contact_Emails_Primary</name>
        <label>Update Contact Emails Primary</label>
        <locationX>4109</locationX>
        <locationY>1391</locationY>
        <collectionReference>Copy_1_of_Get_Contact_Phones</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Update_Primary</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Update_Loop_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Update_Contact_Emails_Primary</name>
        <label>Update Contact Emails Primary</label>
        <locationX>710</locationX>
        <locationY>1511</locationY>
        <collectionReference>Get_Contact_Phones</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Primary</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Loop_Collection_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_Contact_Phones</name>
        <label>Get Contact Phones</label>
        <locationX>4109</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Update_Contact_Emails_Primary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact_Phone__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_Most_Recent_Current</name>
        <label>Get Most Recent Current</label>
        <locationX>5000</locationX>
        <locationY>2183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Newest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </filters>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact_Phone__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets Contact related to Phone record.</description>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>3069</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_New</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Phones</name>
        <label>Get Contact Phones</label>
        <locationX>710</locationX>
        <locationY>1391</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Contact_Emails_Primary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact_Phone__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Primary</name>
        <label>Get Current Primary</label>
        <locationX>1700</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Matches_Current_Primary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact_Phone__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Phone__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Most_Recent_Current</name>
        <label>Get Most Recent Current</label>
        <locationX>3284</locationX>
        <locationY>2183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Compare_to_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </filters>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact_Phone__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Clear_Sys_Mod</name>
        <label>Clear Sys-Mod</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sys_Mod__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Sets Automation Bypass Date/Time on Contact to bypass Validation Rule.</description>
        <name>Copy_1_of_Set_Bypass_Date_Time</name>
        <label>Set Bypass Date/Time</label>
        <locationX>4439</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Primary_Changed_to_TRUE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Automation_Bypass_DateTime__c</field>
            <value>
                <elementReference>NowFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates phone fields on Contact record.</description>
        <name>Copy_1_of_Update_Contact</name>
        <label>Update Contact</label>
        <locationX>3713</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Copy_1_of_Get_Contact_Phones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Phone_Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__PreferredPhone__c</field>
            <value>
                <stringValue>Home</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates phone fields on Contact record.</description>
        <name>Copy_1_of_Update_Contact_1a</name>
        <label>Update Contact</label>
        <locationX>1634</locationX>
        <locationY>1415</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates phone fields on Contact record.</description>
        <name>Copy_1_of_Update_Contact_2a</name>
        <label>Update Contact</label>
        <locationX>1898</locationX>
        <locationY>1415</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__WorkPhone__c</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates phone fields on Contact record.</description>
        <name>Copy_1_of_Update_Contact_3a</name>
        <label>Update Contact</label>
        <locationX>2162</locationX>
        <locationY>1415</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates phone fields on Contact record.</description>
        <name>Copy_1_of_Update_Contact_4a</name>
        <label>Update Contact</label>
        <locationX>2426</locationX>
        <locationY>1415</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OtherPhone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Loop_Collection</name>
        <label>Update Loop Collection</label>
        <locationX>4109</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>Status_Changed</targetReference>
        </connector>
        <inputReference>UpdatedPhoneRecCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Sets Automation Bypass Date/Time on Contact to bypass Validation Rule.</description>
        <name>Copy_2_of_Set_Bypass_Date_Time</name>
        <label>Set Bypass Date/Time</label>
        <locationX>1700</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Is_Primary_Current</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Automation_Bypass_DateTime__c</field>
            <value>
                <elementReference>NowFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates phone fields on Contact record.</description>
        <name>Copy_2_of_Update_Contact</name>
        <label>Update Contact</label>
        <locationX>4505</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Copy_1_of_Get_Contact_Phones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OtherPhone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Phone_Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__PreferredPhone__c</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates phone fields on Contact record.</description>
        <name>Copy_3_of_Update_Contact</name>
        <label>Update Contact</label>
        <locationX>3977</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Copy_1_of_Get_Contact_Phones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Phone_Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__PreferredPhone__c</field>
            <value>
                <stringValue>Work</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__WorkPhone__c</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates phone fields on Contact record.</description>
        <name>Copy_4_of_Update_Contact</name>
        <label>Update Contact</label>
        <locationX>4241</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Copy_1_of_Get_Contact_Phones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Phone_Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__PreferredPhone__c</field>
            <value>
                <stringValue>Mobile</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Start</name>
        <label>Set Start</label>
        <locationX>1700</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Copy_2_of_Set_Bypass_Date_Time</targetReference>
        </connector>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>2954</locationX>
        <locationY>2423</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Preferred_Phone_Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_0</name>
        <label>Update Contact</label>
        <locationX>5330</locationX>
        <locationY>2423</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Preferred_Phone_Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates phone fields on Contact record.</description>
        <name>Update_Contact_1a</name>
        <label>Update Contact</label>
        <locationX>314</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Get_Contact_Phones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Phone_Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__PreferredPhone__c</field>
            <value>
                <stringValue>Home</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates phone fields on Contact record.</description>
        <name>Update_Contact_1b</name>
        <label>Update Contact</label>
        <locationX>3218</locationX>
        <locationY>2543</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>Get_Most_Recent_Current.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Phone_Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates phone fields on Contact record.</description>
        <name>Update_Contact_2a</name>
        <label>Update Contact</label>
        <locationX>578</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Get_Contact_Phones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Phone_Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__PreferredPhone__c</field>
            <value>
                <stringValue>Work</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__WorkPhone__c</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates phone fields on Contact record.</description>
        <name>Update_Contact_2b</name>
        <label>Update Contact</label>
        <locationX>3482</locationX>
        <locationY>2543</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Preferred_Phone_Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__WorkPhone__c</field>
            <value>
                <elementReference>Get_Most_Recent_Current.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates phone fields on Contact record.</description>
        <name>Update_Contact_3a</name>
        <label>Update Contact</label>
        <locationX>842</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Get_Contact_Phones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Phone_Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__PreferredPhone__c</field>
            <value>
                <stringValue>Mobile</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates phone fields on Contact record.</description>
        <name>Update_Contact_3b</name>
        <label>Update Contact</label>
        <locationX>3746</locationX>
        <locationY>2543</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Get_Most_Recent_Current.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Phone_Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates phone fields on Contact record.</description>
        <name>Update_Contact_4a</name>
        <label>Update Contact</label>
        <locationX>1106</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Get_Contact_Phones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OtherPhone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Phone_Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__PreferredPhone__c</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates phone fields on Contact record.</description>
        <name>Update_Contact_4b</name>
        <label>Update Contact</label>
        <locationX>4010</locationX>
        <locationY>2543</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OtherPhone</field>
            <value>
                <elementReference>Get_Most_Recent_Current.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Phone_Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Home_Phone</name>
        <label>Update Contact Home Phone</label>
        <locationX>4274</locationX>
        <locationY>2543</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Phone_Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Mobile_Phone</name>
        <label>Update Contact Mobile Phone</label>
        <locationX>4802</locationX>
        <locationY>2543</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Phone_Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Other_Phone</name>
        <label>Update Contact Other Phone</label>
        <locationX>5066</locationX>
        <locationY>2543</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OtherPhone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Phone_Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Work_Phone</name>
        <label>Update Contact Work Phone</label>
        <locationX>4538</locationX>
        <locationY>2543</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Preferred_Phone_Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__WorkPhone__c</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Loop_Collection_0</name>
        <label>Update Loop Collection</label>
        <locationX>710</locationX>
        <locationY>1967</locationY>
        <inputReference>UpdatedPhoneRecCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>1433</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Flow</targetReference>
        </connector>
        <filterFormula>(ISNEW() &amp;&amp; ISPICKVAL({!$Record.Status__c}, &apos;Current&apos;)) ||
(NOT(ISNEW()) &amp;&amp; ISPICKVAL({!$Record.Status__c}, &apos;Current&apos;)) ||
(ISCHANGED({!$Record.Status__c}) &amp;&amp; ISPICKVAL({!$Record.Status__c}, &apos;Undeliverable&apos;)) ||
ISCHANGED({!$Record.Primary__c})</filterFormula>
        <object>Contact_Phone__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>UpdatedPhoneRecCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact_Phone__c</objectType>
    </variables>
</Flow>
