force-app/main/default/flows/Phone_Undeliverable_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>Checks if changed from Undeliverable to Deliverable or reverse.</description>
        <name>Undeliverable_or_Deliverable</name>
        <label>Undeliverable or Deliverable</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Set_Deliverable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Undeliverable to Deliverable</defaultConnectorLabel>
        <rules>
            <name>Deliverable_to_Undeliverable</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Undeliverable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Undeliverable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Undeliverable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Current</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bypass_Active</targetReference>
            </connector>
            <label>Deliverable to Undeliverable</label>
        </rules>
    </decisions>
    <description>Removed Set Primary to False from Del to Undel branch.</description>
    <environments>Default</environments>
    <formulas>
        <name>NowFormula</name>
        <dataType>DateTime</dataType>
        <expression>Now()</expression>
    </formulas>
    <interviewLabel>Phone Undeliverable (Before Save) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Phone Undeliverable (Before Save)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Bypass_Active</name>
        <label>Bypass Active</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Set_Undeliverable</targetReference>
        </connector>
        <inputAssignments>
            <field>Automation_Bypass_Date_Time__c</field>
            <value>
                <elementReference>NowFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Deliverable</name>
        <label>Set Deliverable</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>End_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Undeliverable__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Undeliverable</name>
        <label>Set Undeliverable</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Undeliverable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Undeliverable__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Undeliverable_or_Deliverable</targetReference>
        </connector>
        <filterFormula>{!$Permission.Flow_Automations_Off} &lt;&gt; TRUE
&amp;&amp;
(isnew() || ischanged({!$Record.Undeliverable__c}) || ischanged({!$Record.Status__c}))</filterFormula>
        <object>Contact_Phone__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
