force-app/main/default/flows/Refund_WriteOff_Payment_AFTER_SAVE_Update_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Adjustment_Type_Is</name>
        <label>Adjustment Type Is</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>None of these</defaultConnectorLabel>
        <rules>
            <name>Refund</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Refund_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refund</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Refund_Update_Opportunity</targetReference>
            </connector>
            <label>Refund</label>
        </rules>
        <rules>
            <name>Chargeback</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Refund_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chargeback</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chargeback_Update_Opportunity</targetReference>
            </connector>
            <label>Chargeback</label>
        </rules>
        <rules>
            <name>Returned_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Refund_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Returned Check</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Returned_Check_Update_Opportunity</targetReference>
            </connector>
            <label>Returned Check</label>
        </rules>
        <rules>
            <name>Invalid_Donation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Refund_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invalid Donation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invalid_Donation_Update_Opportunity</targetReference>
            </connector>
            <label>Invalid Donation</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_Value_of_Payment_Amount_and_Opportunity_Amount</name>
        <label>What is Value of Payment Amount and Opportunity Amount</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity_GAU_Allocation_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Zero</defaultConnectorLabel>
        <rules>
            <name>Greater_Than_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SumOpportunityAmountandPaymentAmount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SumOpportunityAmountandPaymentAmount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.npe01__Opportunity__r.Amount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Amount</targetReference>
            </connector>
            <label>Greater Than Zero&amp; Less than Opportunity Amount</label>
        </rules>
    </decisions>
    <description>Updates Opportunity and Opportunity GAU Allocations based on Payment reflecting Refund or Write-Off (optimized updated version to disinclude Posted and avoid GAU Allocation Validation Rule.</description>
    <environments>Default</environments>
    <formulas>
        <name>SumOpportunityAmountandPaymentAmount</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.npe01__Payment_Amount__c}+{!$Record.npe01__Opportunity__r.Amount}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Refund-WriteOff Payment AFTER SAVE Update Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Refund-WriteOff Payment AFTER SAVE Update Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>This is a full refund, so update the Opportunity Amount accordingly</description>
        <name>Chargeback_Update_Opportunity</name>
        <label>Chargeback Update Opportunity</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npe01__Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Close_Amount__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Refund - Chargeback</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>This is a full refund, so update the Opportunity Amount accordingly</description>
        <name>Invalid_Donation_Update_Opportunity</name>
        <label>Invalid Donation Update Opportunity</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npe01__Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Close_Amount__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Invalid Donation</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>This is a full refund, so update the Opportunity Amount accordingly</description>
        <name>Refund_Update_Opportunity</name>
        <label>Refund Update Opportunity</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npe01__Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Close_Amount__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Refunded</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>This is a returned check, so update the Opportunity Amount accordingly</description>
        <name>Returned_Check_Update_Opportunity</name>
        <label>Returned Check Update Opportunity</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npe01__Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Close_Amount__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Returned Check</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>This is a partial refund or write-off, so update the Opportunity Amount accordingly</description>
        <name>Update_Opportunity_Amount</name>
        <label>Update Opportunity Amount</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npe01__Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>SumOpportunityAmountandPaymentAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Opportunity GAU Allocations must match Opportunity to avoid Validation Rule</description>
        <name>Update_Opportunity_GAU_Allocation_Records</name>
        <label>Update Opportunity GAU Allocation Records</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Adjustment_Type_Is</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npe01__Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npsp__Amount__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>npsp__Allocation__c</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_is_Value_of_Payment_Amount_and_Opportunity_Amount</targetReference>
        </connector>
        <filterFormula>AND(
{!$Permission.Flow_Automations_Off}=FALSE,
{!$Record.npe01__Payment_Amount__c}+{!$Record.npe01__Opportunity__r.Amount}&lt;{!$Record.npe01__Opportunity__r.Amount}
)</filterFormula>
        <object>npe01__OppPayment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>2</triggerOrder>
</Flow>
