force-app/main/default/flows/Staging_After_Insert_Link_Projections.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_to_Insert_Collection</name>
        <label>Add to Insert Collection</label>
        <locationX>633</locationX>
        <locationY>491</locationY>
        <assignmentItems>
            <assignToReference>projectionsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopProjection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughProjections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Projection_Values</name>
        <label>Assign Projection Values</label>
        <locationX>534</locationX>
        <locationY>702</locationY>
        <assignmentItems>
            <assignToReference>loopProjection.Projection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopThroughProjections.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopProjection.Staging__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Insert_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Flow_Automations_Off</name>
        <label>Flow Automations Off</label>
        <locationX>147</locationX>
        <locationY>374</locationY>
        <defaultConnector>
            <targetReference>getProjections</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Has_Flows_Off_Permission_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Flow_Automations_Off</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>User Has Flows Off Permission Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_Projection_s_Found</name>
        <label>Were Projection(s) Found</label>
        <locationX>333</locationX>
        <locationY>665</locationY>
        <defaultConnectorLabel>skip</defaultConnectorLabel>
        <rules>
            <name>Link_Projections</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getProjections</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopThroughProjections</targetReference>
            </connector>
            <label>Link Projections</label>
        </rules>
    </decisions>
    <interviewLabel>Staging: (After Insert --&gt; Link Projections) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Staging: (After Insert --&gt; Link Projections)</label>
    <loops>
        <name>loopThroughProjections</name>
        <label>loopThroughProjections</label>
        <locationX>441</locationX>
        <locationY>491</locationY>
        <collectionReference>getProjections</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Projection_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Projections</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Projections</name>
        <label>Insert Projections</label>
        <locationX>538</locationX>
        <locationY>334</locationY>
        <inputReference>projectionsToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getProjections</name>
        <label>getProjections</label>
        <locationX>250</locationX>
        <locationY>495</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Were_Projection_s_Found</targetReference>
        </connector>
        <filterLogic>1 and 3 and ((2 AND 6) OR (4 AND 5))</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Organization_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Projected</stringValue>
            </value>
        </filters>
        <filters>
            <field>npsp__Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>npsp__Primary_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>122</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Flow_Automations_Off</targetReference>
        </connector>
        <object>Staging__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>loopProjection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Projection__c</objectType>
    </variables>
    <variables>
        <name>projectionsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Projection__c</objectType>
    </variables>
</Flow>
