force-app/main/default/flows/User_Portal_User_Update_Con_Sub_Con_on_Related_Contact_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <description>Separate the assignments to only be performed on the necessary field</description>
        <name>Append_to_One_Field_or_Both</name>
        <label>Append to One Field or Both</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_when_fields_not_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Append_to_Constituency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Contact.Constituency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Contact.Sub_Constituency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Append_Constituency_and_add_Sub_Constituency</targetReference>
            </connector>
            <label>Append to Constituency</label>
        </rules>
        <rules>
            <name>Append_to_Sub_Constituency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Contact.Constituency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Contact.Sub_Constituency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Constituency_and_append_Sub_Constituency</targetReference>
            </connector>
            <label>Append to Sub-Constituency</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the Constituency is blank then use the default outcome to add EDF BIZ and it&apos;s sub constituency. If it&apos;s not blank, move on to create the variable to hold the value as text, append the Biz values and update the field</description>
        <name>Check_Contact_Constituency</name>
        <label>Check Contact Constituency</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Update_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fields both blank. Set both fields</defaultConnectorLabel>
        <rules>
            <name>Already_Contains_Constituency_Values_Skip</name>
            <conditionLogic>(1 OR 2) AND (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Contact.Constituency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Contact.Sub_Constituency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Contact.Constituency__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>EDFBIZ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Contact.Sub_Constituency__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>EDFBIZ - Climate Corps</stringValue>
                </rightValue>
            </conditions>
            <label>Already Contains Constituency Values - Skip</label>
        </rules>
        <rules>
            <name>Append_Constituency_And_Or_Sub_Constituency</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Contact.Constituency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Contact.Sub_Constituency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Append_to_One_Field_or_Both</targetReference>
            </connector>
            <label>Append Constituency And/Or Sub-Constituency</label>
        </rules>
    </decisions>
    <description>Updates constituency and sub-constituency on related contact.</description>
    <formulas>
        <name>FormulaAppendSubConstituency</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
SUBSTITUTE({!ClimateCorpsContactSubConstituency}, &apos;[&apos; , &apos;&apos;),
&apos;]&apos;,
&apos;&apos;)
&amp;&apos;;EDFBIZ - Climate Corps&apos;</expression>
    </formulas>
    <formulas>
        <name>FormulatoAppendConstituency</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
SUBSTITUTE({!ClimateCorpsContactConstituency}, &apos;[&apos; , &apos;&apos;),
&apos;]&apos;,
&apos;&apos;)
&amp;&apos;;EDFBIZ&apos;</expression>
    </formulas>
    <interviewLabel>User - Portal User - Update Con/Sub-Con on Related Contact (After Save) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User - Portal User - Update Con/Sub-Con on Related Contact (After Save)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get related contact</description>
        <name>Get_Related_Contact</name>
        <label>Get Related Contact</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contact_Constituency</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the Values of the Constituency and Sub-Constituency when the fields aren&apos;t blank</description>
        <name>Add_Constituency_and_append_Sub_Constituency</name>
        <label>Add Constituency and append Sub-Constituency</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Constituency__c</field>
            <value>
                <stringValue>EDFBIZ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Constituency__c</field>
            <value>
                <elementReference>FormulaAppendSubConstituency</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the Values of the Constituency and Sub-Constituency when the fields aren&apos;t blank</description>
        <name>Append_Constituency_and_add_Sub_Constituency</name>
        <label>Append Constituency and add Sub-Constituency</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Constituency__c</field>
            <value>
                <elementReference>FormulatoAppendConstituency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Constituency__c</field>
            <value>
                <stringValue>EDFBIZ - Climate Corps</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Constituency__c</field>
            <value>
                <stringValue>EDFBIZ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Constituency__c</field>
            <value>
                <stringValue>EDFBIZ - Climate Corps</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the Values of the Constituency and Sub-Constituency when the fields aren&apos;t blank</description>
        <name>Update_Contact_when_fields_not_Blank</name>
        <label>Update Contact when fields not Blank</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Constituency__c</field>
            <value>
                <elementReference>FormulatoAppendConstituency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Constituency__c</field>
            <value>
                <elementReference>FormulaAppendSubConstituency</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Contact</targetReference>
        </connector>
        <object>User</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Value of the Constituency field on the Contact when it&apos;s not null. Need to append the EDF Biz value here and update the record</description>
        <name>ClimateCorpsContactConstituency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Get_Related_Contact.Constituency__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>Capture the Sub-Constituency value of the Contact record</description>
        <name>ClimateCorpsContactSubConstituency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Get_Related_Contact.Sub_Constituency__c</elementReference>
        </value>
    </variables>
</Flow>
